<template>
    <div style="padding:50px 0px;">
        <iframe class="chat-body-frame" :src="iframe.src" v-if="loaded" frameborder="0" width="500px" height="696px" scrolling="no" marginwidth="0" marginheight="0"/>
    </div>
</template>

<style>
.chat-body-frame{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 0px 4px rgb(0 0 0 / 40%), -1px -1px 2px rgb(0 0 0 / 20%);
    border-radius: 4px;
}
</style>

<script>
import { mapGetters } from "vuex";



export default {
    name: "CnstClientTemplate",
    data() {
        let userId = this.$store.getters.getUserInfo.userId;
        if(userId === undefined || userId == ''){
            userId = '';
        }
        let userName = this.$store.getters.getUserInfo.userNm;
        if(userName === undefined || userName == ''){
            userName = '';
        }

        return {
            loaded: false,
            iframe: {
                src: 'http://cnst-saas.iptime.org:8090/gw/cnsnl/view?domainId=NODE0000000001&userId=' + userId + '&userName=' + userName
            }
        }
    },
    computed: {
        ...mapGetters(["getUserInfo", "authorized"])
    },
    mounted() {
        console.log(this.getUserInfo.userId);
        this.loaded = true;
    }
};
</script>
