@CHARSET "UTF-8";

.item-wrap{
    min-height:170px;
    min-width:230px;
    padding:10px;
}

.item{
    width:100%;
    height:100%;
    border-radius:5px;
    padding:10px;
    border:1px solid #e6eaf0;
    position:relative;
}

.item .cat-num{
    color:#838899;
}

.item.selected{
    background-color:rgba(178,217,242,0.5);
    border:1px solid #69abe0;
}

.item.selected .cat-num{
    color:#354bb0;
}

.item span.cat-ttl{
    font-size:17px;
    font-weight:bold;
    color:#222222;
    width: 100%;
    text-align: center;
    display: block;
}

.item span.cat-num{
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: block;
    line-height: 50px;
    margin-top: 60px;
}


.item .bg-img{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 50px;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    top: 30px;
    opacity: 0.4;
}

.id-card .bg-img{
    background-image:url('/images/pages/aiintro/id-card.png');
    transform:rotate(10deg);
    background-position: center 20px;
}

.car .bg-img{
    background-image:url('/images/pages/aiintro/car.png');
}

.id-card-req-doc .bg-img{
    background-image:url('/images/pages/aiintro/certificate.png');
}

.building .bg-img{
    background-image:url('/images/pages/aiintro/building.png');
}

.person .bg-img{
    background-image:url('/images/pages/aiintro/person.png');
}

.familyhome .bg-img{
    background-image:url('/images/pages/aiintro/familyhome.png');
}

.family .bg-img{
    background-image:url('/images/pages/aiintro/family.png');
}

.army .bg-img{
    background-image:url('/images/pages/aiintro/army.png');
}

.stamp .bg-img{
    background-image:url('/images/pages/aiintro/stamp.png');
}

.question .bg-img{
    background-image:url('/images/pages/aiintro/question.png');
    background-size: 50px;
}

.col-cat-img-container{
    padding:10px;
}

.cat-img-container{
    width:100%;
    height:400px;
    border:2px solid #d9ebf6;
    border-radius:8px;
    padding:10px 0px;
    overflow-y:auto;
    overflow-x:hidden;
    position: relative;
}

.cat-img-container .in1{
    position:absolute;
}

.doc-wrapper{
    width:120px;
    height:170px;
    padding:10px;
    float:left;
    max-width: 200px;
}

.doc-wrapper .doc-item{
    width:100px;
    height:150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:#FFF;
    position:relative;
}

.doc-wrapper .doc-item.type-biz .ocr-gate{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(65, 184, 131, 0.1);
    border:1px solid #dde3ed;
    font-size:20px;
    font-weight:bold;
    color:#222222;
    text-align:center;
    padding-top:40px;
    display:none;
}

.doc-wrapper .doc-item.type-biz .ocr-gate:hover,
.doc-wrapper .doc-item.type-biz:hover .ocr-gate{
    display:block;
    cursor:pointer;
}

.doc-wrapper .magnify{
    width:27px;
    height:27px;
    position:relative;
    left: calc(100% - 20px);
    top: -10px;
    cursor:pointer;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #dadada;
    text-align:center;
    line-height:27px;
    display:none;
}

.doc-wrapper .doc-item:hover .magnify{
    display:block;
}

.doc-wrapper .magnify::before{
    content: "\F034B";
    color:#8a8a8a;
    font: normal normal normal 20px/1 "Material Design Icons";
}

.image-pop-wrap{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:rgba(0,0,0,0.6);
    z-index:1000;
}

.image-pop-wrap.hidden{
    display:none;
}

.image-pop-wrap .image-close{
    position:fixed;
    right:20px;
    top:20px;
    width:50px;
    height:50px;
    background-image:url('/images/close.svg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
}

.image-pop-wrap .image-pop{
    position:fixed;
    top:90px;
    bottom:30px;
    left:30px;
    right:30px;
}

.image-pop-wrap .image-pop .image-half{
    width:100%;
}

.image-pop-wrap .image-pop.both-layer .pop-layer-half{
    width:50%;
    float:left;
}

.image-pop-wrap .image-pop .image-half{
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top:0px;
    bottom:0px;
}

.image-pop-wrap .image-pop .ocr-half{
    right:0px;
    position:absolute;
}

.image-pop-wrap .image-pop .ocr-half>div{
    background-color: #fff;
    border-radius: 5px;
}

.image-pop-wrap .image-pop .org-img-title{
    width:100%;
    font-size:22px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    position:relative;
    top:-40px;
}
