@CHARSET "UTF-8";

.half{
    width:50%;
}

.file-uploader{
    width:100%;
}

.thumb-container{
    overflow-x:scroll;
    overflow-y:hidden;
    width:100%;
    height:180px;
    background-color:#fff;
    border:2px solid #d9ebf6;
    position:relative;
}

.guide-line{
    width:100%;
    height:100%;
    border:1px solod #5d5d5d;
}

.thumb-container .thumb-guid{
    position:absolute;
    white-space:nowrap;
    height:160px;
    padding-top:7px;
}

.thumb-container .thumb-wrapper{
    width:120px;
    height:150px;
    padding:0px 10px;
    display:inline-block;
    position:relative;
}

.thumb-container .thumb-item{
    width:100px;
    height:150px;
    background-color:#fff;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}

.thumb-container .thumb-item.selected{
    border:1px dashed #2ba26d;
}

.image-pop-wrap{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:rgba(0,0,0,0.6);
    z-index:1000;
}

.image-pop-wrap.hidden{
    display:none;
}

.image-pop-wrap .image-close{
    position:fixed;
    right:20px;
    top:20px;
    width:50px;
    height:50px;
    background-image:url('/images/close.svg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
}

.image-pop-wrap .image-pop{
    position:fixed;
    top:90px;
    bottom:30px;
    left:30px;
    right:30px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

#doc-category-result font{
    color:#3498db;
}

.to-aiintro{
    float:right;
    padding:4px 20px;
    color:#fff;
    background-color:#000;
    cursor:pointer;
}
