
<style>
    @import '/css/common/util.css';
    @import '/css/pages/aiintro.css';
</style>

<template>

  <div id="ai-intro">

    <section id="top-banner">

      <div class="banner">

        <div class="img">

          <div class="contents">
            <br/><br/>
            <h1 class="contents-title">Target AIR AI.</h1>
            <br/>
            <h2 class="contents-discript">문서분류 작업을 인공지능으로 자동화 하여, 업무효율을 높여줍니다.</h2>
          </div>

        </div>

      </div>

    </section>

    <section id="experience">

    <div class="pa-5 mt-10">

      <div class="title-left-border py-3 my-3">
        <span class="display-1 ml-5 page-sub-title">
          이미지문서 분류 체험하기
        </span>
      </div>

      <v-card class="pa-5">
          <span class="indigo--text title font-weight-bold">
            <v-icon class="mr-2" color="indigo">mdi-pencil-plus</v-icon>
            가지고 계신 이미지 문서를 아래에 업로드해 보세요.(또는 샘플을 다운로드해서 이용해 보세요.)
          </span>

          <!-- 파일 업로드 START -->
          <v-list-item>
            <v-row class="file-uploader my-3" id="file-droppper">
                <div class="sign"></div>
                <v-col>
                    <v-file-input
                      show-size
                      accept="image/*"
                      multiple
                      label="분류할 이미지문서 선택"
                      hint="클릭하여 파일을 선택 하거나 파일을 Drag & Drop 하세요."
                      persistent-hint
                    ></v-file-input>
                </v-col>
            </v-row>
          </v-list-item>
          <!-- 파일 업로드 END -->



          <!-- 9종 카테고리 START -->
          <v-list-item>
            <v-row>
                <v-col class="item-wrap">
                    <div class="item building business-license">
                        <span class="cat-ttl">사업자등록증</span>
                        <span class="cat-num">0</span>
                        <div class="bg-img"></div>
                    </div>
                </v-col>
                <v-col class="item-wrap">
                    <div class="item family family-cert">
                        <span class="cat-ttl">가족관계증명서</span>
                        <span class="cat-num">0</span>
                        <div class="bg-img"></div>
                    </div>
                </v-col>
                <v-col class="item-wrap">
                    <div class="item car drivers-license">
                        <span class="cat-ttl">운전면허증</span>
                        <span class="cat-num">0</span>
                        <div class="bg-img"></div>
                    </div>
                </v-col>
                <v-col class="item-wrap">
                    <div class="item id-card-req-doc id-card-req-doc">
                        <span class="cat-ttl">주민등록발급신청확인서</span>
                        <span class="cat-num">0</span>
                        <div class="bg-img"></div>
                    </div>
                </v-col>
                <v-col class="item-wrap">
                    <div class="item id-card">
                        <span class="cat-ttl">주민등록증</span>
                        <span class="cat-num">0</span>
                        <div class="bg-img"></div>
                    </div>
                </v-col>
            </v-row>
          </v-list-item>
          <v-list-item>
            <v-row>
                <v-col class="item-wrap">
                    <div class="item stamp stamp-cert">
                        <span class="cat-ttl">법인인감증명서</span>
                        <span class="cat-num">0</span>
                        <div class="bg-img"></div>
                    </div>
                </v-col>
                <v-col class="item-wrap">
                    <div class="item person official-person-reg">
                        <span class="cat-ttl">주민등록초본</span>
                        <span class="cat-num">0</span>
                        <div class="bg-img"></div>
                    </div>
                </v-col>
                <v-col class="item-wrap">
                    <div class="item familyhome house-members">
                        <span class="cat-ttl">주민등록등본</span>
                        <span class="cat-num">0</span>
                        <div class=" bg-img"></div>
                    </div>
                </v-col>
                <v-col class="item-wrap">
                    <div class="item army military-service-notice">
                        <span class="cat-ttl">입영통지서</span>
                        <span class="cat-num">0</span>
                        <div class="bg-img"></div>
                    </div>
                </v-col>
                <v-col class="item-wrap">
                    <div class="item question uncategorized">
                        <span class="cat-ttl">알수없음</span>
                        <span class="cat-num">0</span>
                        <div class="bg-img"></div>
                    </div>
                </v-col>
            </v-row>
          </v-list-item>
          <!-- 9종 카테고리 END -->

          <!-- 카테고리 분류 파일 START -->
          <v-list-item>
              <v-row class="my-3">
                  <v-col class="col-cat-img-container">
                    <div class="cat-img-container">
                        <div class="in1"></div>
                    </div>
                  </v-col>
                  <v-col id="analysis-table">
                      <div id="doc-category-result" class="title grey--text mb-5 text-center">
                        OCR 문서분석 결과
                      </div>
                      <v-simple-table>
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th
                                class="text-center font-weight-bold"
                                width="50px"
                              >
                                No.
                              </th>
                              <th class="text-center font-weight-bold">
                                판독항목
                              </th>
                              <th class="text-center font-weight-bold">
                                판독결과
                              </th>
                            </tr>
                          </thead>
                          <tbody>

                          </tbody>
                        </template>
                      </v-simple-table>
                  </v-col>
              </v-row>
          </v-list-item>
          <!-- 카테고리 분류 파일 START -->

      </v-card>

      <v-card class="pa-5 my-3">
          <span class="indigo--text title font-weight-bold">
            Target AIR
          </span>
          <br>
          <span class="indigo--text title font-weight-bold">
            딥러닝 기반 문서분류 및 문자판독 솔루션
          </span>

          <v-list-item>
          </v-list-item>
      </v-card>

    </div>

    </section>

    <div class="image-pop-wrap hidden">
      <div class="image-close"></div>
      <div class="image-pop">
        <div class="image-half pop-layer-half">
          <div class="org-img-title">원본 이미지</div>
        </div>
        <div class="ocr-half pop-layer-half"></div>
      </div>
    </div>

  </div>
</template>

<script>

    import AiIntro from '../../public/js/pages/aiintro.js'

    export default {
        mounted() {
            AiIntro.init();
            AiIntro.registEvents();
        }
    }

</script>

<style>

#top-banner .banner {
  height: 100%;
}
.banner .img {
  background-image: url('~@/assets/background/visual3.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  background-position:bottom;
}
.banner .img .contents {
  height: 250px;
}
.page-sub-title{
    color:#222222 !important;
}
.banner .img .contents .contents-title {
  font-size: 2rem;
  color: white;
  text-align: center;
}
.banner .img .contents .contents-discript {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
</style>
