<template>
  <div id="landing">
    <section id="section1" class="grey lighten-2 " height="100%">
      <div class="py-12"></div>

      <v-container class="text-center">
        <h2 class="display-2 font-weight-bold mb-3">
          NH RPA포탈 OCR 웹 테스트 페이지
        </h2>

        <v-responsive class="mx-auto mb-8" width="56">
          <v-divider class="mb-1"></v-divider>

          <v-divider></v-divider>
        </v-responsive>

        <v-responsive
          class="mx-auto title font-weight-light mb-8"
          max-width="720"
        >
          NH OCR 처리 개발을 위한 테스트 페이지 입니다.
        </v-responsive>

        <v-responsive
          class="mx-auto title font-weight-light mb-8"
          max-width="720"
        >
          <v-img
            class="elevation-12 mb-12 justify-center"
            :src="require(`@/assets/background/cyber_pattern01.gif`)"
          ></v-img>
        </v-responsive>
      </v-container>

      <div class="py-12"></div>
    </section>

    <section id="section2">
      <div class="py-12"></div>

      <v-container class="text-center">
        <div></div>
        <v-btn color="grey" @click="goMain()" outlined large>
          <span class="grey--text text--darken-1 font-weight-bold">
            OCR MAIN
          </span>
        </v-btn>
      </v-container>

      <div class="py-12"></div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Landing",
  data: () => ({
    isShown: false
  }),
  methods: {
    onScroll() {
      this.isShown = window.pageYOffset > 300;
      // console.log(window.pageYOffset, this.isShown);
    },
    goMain() {
      this.$router.push({ name: "OcrMain" });
    }
  }
};
</script>

<style>
#landing .v-btn-going-top {
  position: fixed;
  z-index: 9998;
  bottom: 0;
  right: 0;
  margin: 0 25px 25px 0;
}
</style>
