<style>
    @import '/css/common/util.css';
    @import '/css/pages/ocrintro.css';
</style>

<template>
  <div id="ocr-intro">

    <!-- 상단 배너 -->
    <section id="top-banner">

      <div class="banner">

        <div class="img">

          <div class="contents">
            <br/><br/>
            <h1 class="contents-title">Target AIR OCR.</h1>
            <br/>
            <h2 class="contents-discript">문서이미지에서 필요한 정보를 추출하여, 완전한 업무자동화를 지원 합니다.</h2>
          </div>

        </div>

      </div>

    </section>
    <!-- 상단 배너 -->

    <!-- 체험하기 -->
    <section id="experience">

      <div class="pa-5 mt-10">

        <div class="title-left-border py-3 my-3">
          <span class="display-1 ml-5 page-sub-title">
            OCR 체험하기
          </span>
        </div>

        <v-card class="pa-5">
            <div style="overflow:hidden">
                <span class="indigo--text title font-weight-bold">
                  <v-icon class="mr-2" color="indigo">mdi-pencil-plus</v-icon
                  >가지고 계신 이미지 문서를 아래에 업로드해 보세요.(또는 샘플을 다운로드해서 이용해 보세요.)
                </span>
                <span class="to-aiintro">이미지문서 분류 체험하기</span>
            </div>

            <v-list-item>
              <v-row>
                <v-col class="ma-5" justify="center" align="center">

                  <div class="title grey--text mb-5 text-center">
                    제 세 히 보 기
                    <v-btn icon @click="showImagePopup()">
                      <v-icon>
                        mdi-magnify-plus
                      </v-icon>
                    </v-btn>
                  </div>

                  <v-img
                    class="grey lighten-5 doc-viewer"
                    contain
                    aspect-ratio="1.7"
                    @click="showImagePopup()"
                    :src="require(`@/assets/img_1604048131605375.png`)"
                  >
                  </v-img>

                  <!-- 파일 업로드 START -->
                  <v-row class="file-uploader my-3" id="file-droppper">
                      <div class="sign"></div>
                      <v-col>
                        <v-file-input
                          show-size
                          accept="image/*"
                          label="템플릿 이미지 선택"
                          hint="클릭하여 파일을 선택 하거나 파일을 Drag & Drop 하세요."
                          persistent-hint
                        ></v-file-input>
                      </v-col>
                  </v-row>
                  <!-- 파일 업로드 END -->

                  <!-- 파일 업로드 썸네일 START -->
                  <div class="thumb-container">
                    <div class="thumb-guid">
                    </div>
                  </div>
                  <!-- 파일 업로드 썸네일 END -->

                </v-col>
                <v-divider vertical class="ma-4" />
                <v-col class="ma-5">

                  <div id="doc-category-result" class="title grey--text mb-5 text-center">
                    좌측 이미지는 <font>사업자등록증</font>입니다.
                  </div>

                  <v-simple-table>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th
                            class="text-center font-weight-bold"
                            width="50px"
                          >
                            No.
                          </th>
                          <th class="text-center font-weight-bold">
                            판독항목
                          </th>
                          <th class="text-center font-weight-bold">
                            판독결과
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </template>
                  </v-simple-table>

                </v-col>
              </v-row>
            </v-list-item>
        </v-card>

        <v-card class="pa-5 my-3">
            <span class="indigo--text title font-weight-bold">
              Target AIR
            </span>
            <br>
            <span class="indigo--text title font-weight-bold">
              딥러닝 기반 문서분류 및 문자판독 솔루션
            </span>

            <v-list-item>
            </v-list-item>
        </v-card>

      </div>

      <div class="image-pop-wrap hidden">
        <div class="image-close"></div>
        <div class="image-pop">


        </div>
      </div>

    </section>
    <!-- 체험하기 -->

  </div>

</template>

<script>
    import OcrIntro from '../../public/js/pages/ocrintro.js'

    export default {
        mounted() {
            OcrIntro.init();
            OcrIntro.registEvents();
        },
        methods : {
            showImagePopup(){
                OcrIntro.showImagePopup();
            }
        }
    }
</script>

<style>

#top-banner .banner {
  height: 100%;
}
.banner .img {
  background-image: url('~@/assets/background/visual3.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  background-position:bottom;
}
.banner .img .contents {
  height: 250px;
}
.banner .img .contents .contents-title {
  font-size: 2rem;
  color: white;
  text-align: center;
}
.page-sub-title{
    color:#222222 !important;
}
.banner .img .contents .contents-discript {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
</style>
