@CHARSET "UTF-8";

.file-uploader{
    border:1px dashed rgb(65, 184, 131);
    position:relative;
}

.file-uploader .sign{
    width:0px;
    height:0px;
    display:none;
}

.file-uploader.drag-over .sign{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(65, 184, 131, 0.5);
    display:block;
}

.file-uploader.uploading .sign{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(65, 184, 131, 0.3);
    display:block;
    z-index:1;
}

.file-uploader .hidden{
    display:none;
}

.file-uploader .progress-rail{
    width:100%;
    height:5px;
    border:1px solid rgb(65, 184, 131);
    border-radius:10px;
    overflow:hidden;
}

.file-uploader .progress-gage{
    height:100%;
    background-color:rgba(65, 184, 131, 0.5);
    width:0px;
}
