<template>
  <v-dialog
    v-model="dialog"
    scrollable
    max-width="950px"
    content-class="v-dialog-move"
  >
    <v-card>
      <v-card-title class="display-1 font-weight-bold grey--text">
        이미지 확대 보기
      </v-card-title>
      <v-divider></v-divider>

      <v-card-text class="ma-0 pa-0">
        <v-img
          v-if="checkImageType"
          :src="imgUrl"
          class="grey lighten-2"
        ></v-img>

        <pdf v-if="!checkImageType" :page="imgObj.currentPage" :src="imgUrl">
        </pdf>
      </v-card-text>
      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="purple"
          dark
          class="title font-weight-regular mr-3"
          @click="dialog = false"
        >
          닫기
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import pdf from "vue-pdf";
import { base64StringToBlob } from "blob-util";

export default {
  components: {
    pdf
  },
  data() {
    return {
      imgObj: {},
      imgUrl: null,
      dialog: false
    };
  },
  computed: {
    checkImageType() {
      if (
        this.imgObj.imgUrl ||
        (this.imgObj &&
          this.imgObj.imgFileType &&
          /^image\//.test(this.imgObj.imgFileType))
      ) {
        return true;
      }

      return false;
    }
  },
  methods: {
    showImagePopup(obj) {
      //console.log(obj);
      this.imgObj = null;
      this.imgUrl = null;
      if (!obj) return;
      if (!(obj.imgUrl || (obj.imgFileType && obj.imgOrgData))) return;
      this.imgObj = obj;

      if (this.imgObj.imgUrl) this.imgUrl = this.imgObj.imgUrl;
      else {
        const blob = base64StringToBlob(
          this.imgObj.imgOrgData,
          this.imgObj.imgFileType
        );
        this.imgUrl = URL.createObjectURL(blob);
      }

      this.dialog = true;
    },
    // getImgData() {
    //   if (this.imgObj.imgUrl) return this.imgObj.imgUrl;
    //   else {
    //     const blob = base64StringToBlob(
    //       this.imgObj.imgOrgData,
    //       this.imgObj.imgFileType
    //     );
    //     return URL.createObjectURL(blob);
    //   }
    // },
    hidePopup() {
      this.dialog = false;
    }
  }
};

// // IE Polyfill for closest
// if (!Element.prototype.matches) {
//   Element.prototype.matches =
//     Element.prototype.msMatchesSelector ||
//     Element.prototype.webkitMatchesSelector;
// }

// if (!Element.prototype.closest) {
//   Element.prototype.closest = function(s) {
//     var el = this;

//     do {
//       if (el.matches(s)) return el;
//       el = el.parentElement || el.parentNode;
//     } while (el !== null && el.nodeType === 1);
//     return null;
//   };
// }

// // v-dialog mouse move script
// (function() {
//   // make vuetify dialogs movable
//   const d = {};
//   document.addEventListener("mousedown", e => {
//     const closestDialog = e.target.closest(".v-dialog.v-dialog--active");
//     if (
//       e.button === 0 &&
//       closestDialog != null &&
//       e.target.classList.contains("v-card__title")
//     ) {
//       // element which can be used to move element
//       d.el = closestDialog; // element which should be moved
//       d.mouseStartX = e.clientX;
//       d.mouseStartY = e.clientY;
//       d.elStartX = d.el.getBoundingClientRect().left;
//       d.elStartY = d.el.getBoundingClientRect().top;
//       d.el.style.position = "fixed";
//       d.el.style.margin = 0;
//       d.oldTransition = d.el.style.transition;
//       d.el.style.transition = "none";
//     }
//   });
//   document.addEventListener("mousemove", e => {
//     if (d.el === undefined) return;
//     d.el.style.left =
//       Math.min(
//         Math.max(d.elStartX + e.clientX - d.mouseStartX, 0),
//         window.innerWidth - d.el.getBoundingClientRect().width
//       ) + "px";
//     d.el.style.top =
//       Math.min(
//         Math.max(d.elStartY + e.clientY - d.mouseStartY, 0),
//         window.innerHeight - d.el.getBoundingClientRect().height
//       ) + "px";
//   });
//   document.addEventListener("mouseup", () => {
//     if (d.el === undefined) return;
//     d.el.style.transition = d.oldTransition;
//     d.el = undefined;
//   });
//   setInterval(() => {
//     // prevent out of bounds
//     const dialog = document.querySelector(".v-dialog.v-dialog--active");
//     if (dialog === null) return;
//     dialog.style.left =
//       Math.min(
//         parseInt(dialog.style.left),
//         window.innerWidth - dialog.getBoundingClientRect().width
//       ) + "px";
//     dialog.style.top =
//       Math.min(
//         parseInt(dialog.style.top),
//         window.innerHeight - dialog.getBoundingClientRect().height
//       ) + "px";
//   }, 100);
// })();
</script>

<style scoped>
/* .v-dialog-move {
  overflow-y: hidden !important;
} */

/* .v-dialog.v-dialog--active .popup-header {
  cursor: grab;
}

.v-dialog.v-dialog--active .popup-header:active {
  cursor: grabbing;
} */
</style>
