<template>
  <div id="ocr-main">
    <!-- SECTION : 상단 카드 -->
    <v-card class="d-flex" color="transparent" tile flat>
      <v-container>
        <v-row>
          <v-col
            v-for="(c, index) in topCards"
            :key="index"
            cols="12"
            sm="3"
            md="3"
          >
            <v-card class="pt-2" tile outlined color="transparent">
              <v-list-item two-line>
                <v-list-item-content>
                  <div class="title mb-1 text--secondary">
                    {{ c.name }}
                  </div>
                  <v-list-item-title class="display-3 font-weight-bold">
                    <span :class="c.color">
                      <animated-number
                        :value="c.number"
                        :duration="300"
                        :formatValue="formatIntNumber"
                      />
                    </span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <!-- SECTION : 상단 카드 -->

    <!-- SECTION : OCR 처리 요청 -->
    <v-card class="d-flex" color="transparent" tile flat>
      <v-container>
        <div class="title-left-border py-3">
          <span class="display-1 ml-5" page-sub-title>OCR 처리 요청</span>
        </div>

        <div class="text-right mb-1">
          <v-btn
            color="indigo"
            class="white--text elevation-2"
            @click="handleClickGoMenu('TemplateManagement')"
          >
            <v-icon class="mr-2">mdi-file-cog</v-icon>
            템플릿 관리 바로가기
          </v-btn>
        </div>

        <v-row>
          <v-col
            v-for="(o, index) in ocrProcessCards"
            :key="index"
            cols="12"
            sm="3"
            md="3"
            lg="3"
          >
            <v-card class="pa-3">
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title class="headline mb-3" v-text="o.tmplNm" />
                  <v-list-item-subtitle class="mb-3">
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <span
                          class="d-inline-block text-truncate"
                          style="max-width: 100%"
                          v-on="on"
                        >
                          {{ o.tmplDesc }}
                        </span>
                      </template>
                      <span>{{ o.tmplDesc }}</span>
                    </v-tooltip>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  small
                  color="green"
                  class="white--text mr-1"
                  @click="handleOcrType(o)"
                >
                  <v-icon small>mdi-upload</v-icon>
                  업로드
                </v-btn>
                <v-btn
                  outlined
                  small
                  color="indigo"
                  class="white--text"
                  :loading="o.loading"
                  @click="handlePreviewType(o)"
                >
                  <v-icon small>mdi-file-eye</v-icon>
                  미리보기
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col
            cols="12"
            sm="3"
            md="3"
            lg="3"
            v-for="waitingCard in getWaitingCardCount"
            :key="waitingCard.tmplUid"
          >
            <v-card class="pa-3">
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title
                    disabled
                    class="headline mb-3 grey--text"
                    v-text="ocrWaitingCard.name"
                  />
                  <v-list-item-subtitle class="mb-3">
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <span
                          class="d-inline-block text-truncate"
                          style="max-width: 100%"
                          v-on="on"
                        >
                          {{ ocrWaitingCard.description }}
                        </span>
                      </template>
                      <span>{{ ocrWaitingCard.description }}</span>
                    </v-tooltip>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  disabled
                  outlined
                  small
                  color="green"
                  class="white--text mr-1"
                >
                  <v-icon small>mdi-upload</v-icon>
                  업로드
                </v-btn>
                <v-btn
                  disabled
                  outlined
                  small
                  color="indigo"
                  class="white--text"
                >
                  <v-icon small>mdi-file-eye</v-icon>
                  미리보기
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div class=" font-weight-regular orange--text text-darken-4">
              필요한 템플릿이 없나요? 오른쪽 제안하기 버튼을 클릭하여 새로운
              템플릿을 제안해 보세요.
              <v-btn
                outlined
                small
                color="orange darken-2"
                class="white--text mr-1"
                @click="handleClickGoMenu('TemplateProposal')"
              >
                <v-icon small class="mr-1">mdi-lightbulb-on</v-icon>
                제안하기
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <!-- SECTION : OCR 처리 요청 -->

    <!-- SECTION : 등록 리스트 -->
    <v-card class="d-flex py-2" color="transparent" tile flat>
      <v-container>
        <div class="title-left-border py-3 my-3">
          <span class="display-1 ml-5">
            등록 리스트
            <v-btn
              color="blue lighten-2 ml-5"
              text
              large
              @click="getOcrRequestInfo"
            >
              <v-icon large>mdi-reload</v-icon>
            </v-btn>
          </span>
        </div>

        <v-data-table
          :headers="ocrRequestlistHeaders"
          :items="ocrRequestlist"
          :loading="dataTableLoading"
          :options.sync="requestOptions"
          :server-items-length="totalCount"
          :footer-props="{
            'items-per-page-options': [5, 10, 15, 25, 50]
          }"
          class="pa-4 elevation-2"
          disable-sort
          loading-text="Loading... Please wait"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-spacer></v-spacer>
              <div>
                <v-text-field
                  v-model="searchRequest"
                  append-icon="mdi-magnify"
                  label="용도 또는 템플릿명"
                  single-line
                  hide-details
                  clearable
                  @keyup.esc="
                    if (searchRequest != '') {
                      searchRequest = '';
                      getOcrRequestList();
                    }
                  "
                  @keyup.enter="getOcrRequestList()"
                  @click:append="getOcrRequestList()"
                  @click:clear="
                    searchRequest = '';
                    getOcrRequestList();
                  "
                ></v-text-field>
              </div>
            </v-toolbar>
          </template>

          <template v-slot:item.imgFileName="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <span
                  class="d-inline-block text-truncate"
                  style="max-width:150px"
                  v-on="on"
                >
                  {{ item.imgFileName }}
                </span>
              </template>
              <span>{{ item.imgFileName }}</span>
            </v-tooltip>
          </template>

          <template v-slot:item.createdAt="{ item }">
            {{ item.createdAt | formatDate("YYYY-MM-DD HH:mm") }}
          </template>
          <template v-slot:item.ocrStat="{ item }">
            <v-chip
              small
              label
              text-color="white"
              :color="getStatusItem(item.ocrStat).color"
            >
              <v-avatar left>
                <v-icon small>
                  {{ getStatusItem(item.ocrStat).mdiName }}
                </v-icon>
              </v-avatar>
              {{ getStatusItem(item.ocrStat).statName }}
            </v-chip>
          </template>

          <template v-slot:item.actions="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-icon
                  class="mr-1"
                  color="green"
                  @click.stop="showRequestPopup(item)"
                  v-on="on"
                >
                  mdi-format-list-checkbox
                </v-icon>
              </template>
              <span>요청내역 보기</span>
            </v-tooltip>

            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-icon
                  class="mr-1"
                  color="orange"
                  @click.stop="showResultPopup(item)"
                  v-on="on"
                  :disabled="item.ocrStat !== '03'"
                >
                  mdi-file-eye
                </v-icon>
              </template>
              <span>결과보기</span>
            </v-tooltip>

            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-icon
                  color="blue"
                  @click.stop="downloadResult(item)"
                  v-on="on"
                  :disabled="item.ocrStat !== '03'"
                >
                  mdi-download
                </v-icon>
              </template>
              <span>결과 다운로드</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-container>
    </v-card>

    <!-- OCR 처리 요청 다이얼로그 -->
    <v-dialog v-model="dialogNewOcrRequest" max-width="900px" persistent>
      <v-card class="pa-3">
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title class="display-1 mb-4 indigo--text">
              OCR 문서인식 신규 요청
            </v-list-item-title>
            <v-list-item-subtitle class="subtitle-1 mb-4">
              문서명을 작성해 주시고 판독할 이미지 파일을 아래칸에 선택하여 옮겨
              주신 후 업로드 버튼을 클릭 합니다.
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-text-field
            v-model.trim="addOcrRequestDataItem.pupsUse"
            label="문서명 (필수)"
            class="font-weight-regular"
            prepend-icon="mdi-text-box"
            :rules="[rules.required]"
            hint="문서명을 입력하세요. 예) 사무용품 결재"
            :disabled="requestLoading"
          ></v-text-field>
        </v-list-item>

        <v-list-item>
          <v-file-input
            v-model="addOcrRequestDataItem.imgFileNameObject"
            :rules="[rules.required, rules.fileSizeCheck]"
            show-size
            accept="image/jpeg,image/png,.pdf"
            clearable
            @change="onFileChange"
            label="파일선택 (여기를 클릭하여 파일을 선택 하거나 아래 영역으로 파일을 Drag & Drop 하세요.)"
            :disabled="requestLoading"
            :loading="requestLoading"
          ></v-file-input>
        </v-list-item>

        <v-hover v-slot:default="{ hover }">
          <div
            id="app"
            v-cloak
            @drop.prevent="addDropFile"
            @dragover.prevent
            class="ma-4 mt-0"
            style="position: relative; border:1px solid #41B883; border-style:dashed; "
          >
            <v-card
              color="transparent"
              outlined
              :elevation="hover ? 12 : 0"
              min-height="155"
            >
              <v-card-title class="justify-center font-weight-black mt-4">
                <v-icon large>mdi-file-upload</v-icon>
              </v-card-title>

              <v-card-title
                v-if="
                  !addOcrRequestDataItem.imgFileNameObject ||
                    !addOcrRequestDataItem.imgFileNameObject.name
                "
                class="justify-center subtitle-1"
              >
                파일을 현재위치로 드래그 & 드롭 하여 업로드 할 수 있습니다.
                (이미지와 pdf 파일 가능)
              </v-card-title>

              <v-card-title
                v-if="
                  addOcrRequestDataItem.imgFileNameObject &&
                    addOcrRequestDataItem.imgFileNameObject.name
                "
                class="justify-center subtitle-1"
              >
                <v-img
                  v-if="addOcrRequestDataItem.fileType == 'image'"
                  :src="addOcrRequestDataItem.previewUrl"
                  class="grey lighten-2"
                  max-height="400"
                  contain
                ></v-img>

                <pdf
                  v-if="addOcrRequestDataItem.fileType == 'pdf'"
                  style="border: 1px solid grey"
                  :src="addOcrRequestDataItem.previewUrl"
                  @num-pages="addOcrRequestDataItem.pageCount = $event"
                >
                </pdf>

                <v-card-subtitle
                  class="justify-center subtitle-1"
                  v-if="addOcrRequestDataItem.fileType == 'pdf'"
                >
                  전체 {{ addOcrRequestDataItem.pageCount }} 페이지가 있습니다.
                </v-card-subtitle>
              </v-card-title>
            </v-card>
          </div>
        </v-hover>

        <v-card-actions>
          <v-btn
            outlined
            color="grey"
            class="ma-2"
            @click="dialogNewOcrRequest = false"
            :disabled="requestLoading"
          >
            취소
          </v-btn>
          <v-spacer />
          <v-btn
            :disabled="!validRequiredFieldsOcrRequest || requestLoading"
            color="success"
            class="white--text elevation-5"
            @click="handleClickCreateOcrRequest"
          >
            요청하기
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- DIALOG : 템플릿 미리보기 -->
    <v-dialog v-model="dialogPreviewOfNewOcrRequest" max-width="900px">
      <v-card class="pa-3">
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title class="display-1 mb-4 indigo--text">
              템플릿: {{ ocrTemplateDetailItem.tmplNm }}
            </v-list-item-title>
            <v-list-item-subtitle class="subtitle-1">
              <p class="mb-3">
                {{ ocrTemplateDetailItem.tmplDesc }}
              </p>
              아래 템플릿과 같은 형식이 가능하며, 추가적 템플릿 검토를 요청하는
              경우
              <span class="red--text font-weight-bold">템플릿 추가 제안</span>을
              수행해 주시기 바랍니다.
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item-action>
          <v-btn
            color="indigo"
            class="white--text elevation-2 ml-4"
            @click="handleClickGoMenu('TemplateManagement')"
          >
            <v-icon class="mr-2">mdi-file-cog</v-icon>
            템플릿 관리 바로가기
          </v-btn>
        </v-list-item-action>

        <v-list-item class="mt-5">
          <v-row>
            <v-col class="ma-5">
              <div class="display-1 grey--text mb-5 text-center">
                템 플 릿
              </div>
              <v-hover v-slot:default="{ hover }">
                <v-sheet
                  min-height="300"
                  min-width="355"
                  color="grey lighten-2"
                  class="d-flex align-center"
                  :elevation="hover ? 12 : 2"
                >
                  <v-img
                    :src="
                      'data:' +
                        ocrTemplateDetailItem.imgFileType +
                        ';base64,' +
                        ocrTemplateDetailItem.imgOrgData
                    "
                    class="grey lighten-2"
                    contain
                    max-height="390"
                    max-width="355"
                    @click="showImagePopup()"
                  >
                    <!-- <v-card-title class="title white--text"> -->
                    <v-row
                      class="fill-height flex-column"
                      justify="center"
                      align="center"
                    >
                      <div class="align-self-center">
                        <v-btn
                          :class="{ 'show-btns': hover }"
                          color="transparent"
                          icon
                        >
                          <v-icon
                            :class="{ 'show-btns': hover }"
                            color="transparent"
                            x-large
                          >
                            mdi-magnify-plus
                          </v-icon>
                        </v-btn>
                      </div>
                    </v-row>
                    <!-- </v-card-title> -->
                  </v-img>
                </v-sheet>
              </v-hover>
            </v-col>
            <v-divider vertical class="ma-4" />
            <v-col class="ma-5">
              <div class="display-1 grey--text mb-5 text-center">
                판 독 항 목
              </div>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="title text-center font-weight-bold">No.</th>
                      <th class="title text-center font-weight-bold">
                        판독항목
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="d in ocrTemplateDetailItem.tmplOcrItem"
                      :key="d.itemNo"
                    >
                      <td class="title text-center text--secondary">
                        {{ d.itemNo }}
                      </td>
                      <td class="title text-center text--secondary">
                        {{ d.itemName }}
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-col>
          </v-row>
        </v-list-item>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="purple"
            dark
            class="title font-weight-regular mr-3"
            @click="dialogPreviewOfNewOcrRequest = false"
          >
            닫기
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- DIALOG : 템플릿 미리보기 END-->

    <!-- 요청내역 보기 다이얼로그 -->
    <OcrRequestPop ref="popup"></OcrRequestPop>
    <!-- 결과보기 -->
    <OcrResultPop ref="ocrResultDialog"></OcrResultPop>
    <!-- Image 보기 다이얼로그 -->
    <ImageViewPop ref="imgPopup"></ImageViewPop>
  </div>
</template>

<script>
/* eslint-disable vue/no-unused-components */
import moment from "moment";
import pdf from "vue-pdf";
import AnimatedNumber from "animated-number-vue";

import OcrRequestPop from "@/views/ocr/OcrRequestPop.vue";
import OcrResultPop from "@/views/ocr/OcrResultPop.vue";
import ImageViewPop from "@/views/ocr/ImageViewPop.vue";
import { mapGetters } from "vuex";

const uploadFileMaxSize = 10 * 1024 * 1024; // 10M Bytes

export default {
  name: "OcrMain",
  components: {
    pdf,
    AnimatedNumber,
    OcrRequestPop,
    OcrResultPop,
    ImageViewPop
  },

  data: () => ({
    transparent: "rgba(255, 255, 255, 0)",
    topCards: [
      {
        id: "accumulate",
        name: "누적",
        number: 0,
        //description: "Lorem ipsum dolor sit amet consectetur cing elit. D?",
        icon: "mdi-layers-triple",
        color: "green--text"
      },
      {
        id: "today",
        name: "오늘",
        number: 0,
        //description: "sit amet consectetur adipisicing",
        icon: "mdi-calendar-today",
        color: "blue--text"
      },
      {
        id: "processing",
        name: "처리중",
        number: 0,
        //description: "ctetur adipisicing elit. Dolorem, expedita molestias",
        icon: "mdi-cog-refresh",
        color: "orange--text"
      },
      {
        id: "error",
        name: "오류",
        number: 0,
        //description: "sectetur adipisicum dolor sit amet consect",
        icon: "mdi-alert-circle-outline",
        color: "red--text"
      }
    ],
    ocrProcessCards: [],
    ocrWaitingCard: {
      name: "템플릿 대기 중",
      active: false,
      description: "신규 템플릿 반영시 적용됩니다.",
      loading: false
    },
    rules: {
      required: v => !!v || "필수 항목입니다.",
      fileSizeCheck: value =>
        // eslint-disable-next-line prettier/prettier
        !value || value.size < uploadFileMaxSize || "File size should be less than 10 MB!"
    },
    ocrRequestlistHeaders: [
      {
        text: "요청ID",
        align: "center",
        sortable: false,
        value: "ocrRqstUid"
      },
      { text: "용도", value: "pupsUse" },
      { text: "양식", value: "ocrTmplMgmt.tmplNm" },
      { text: "파일명", value: "imgFileName" },
      {
        text: "페이지",
        value: "imgPageCnt",
        align: "center"
      },
      { text: "부서명", value: "ariBrnm", width: "140px" },
      { text: "이름", value: "userNm", width: "85px" },
      { text: "등록일", value: "createdAt", width: "150px" },
      { text: "진행상태", value: "ocrStat", width: "90px" },
      // { text: "요청상세내역", value: "requestDetail", sortable: false, align: "center" },
      // { text: "결과보기", value: "requestResult", sortable: false, align: "center" },
      // { text: "다운로드", value: "download", sortable: false, align: "center" },
      { text: "Actions", value: "actions", width: "120px" }
    ],
    dataTableLoading: false,
    requestLoading: false,
    ocrRequestlist: [],
    requestOptions: {},
    searchRequest: "",
    totalCount: 0,
    addOcrRequestDataItem: {},
    ocrTemplateDetailItem: {},
    defaultOcrRequestDataItem: {
      tmplUid: "",
      pupsUse: "",
      imgFileName: "",
      imgFileNameObject: null,
      previewUrl: "",
      fileType: "",
      pageCount: 1
    },
    dialogNewOcrRequest: false,
    dialogPreviewOfNewOcrRequest: false,
    dialogNewTemplateProposal: false,
    dialogPreviewOfNewTemplateProposal: false
  }),
  computed: {
    ...mapGetters(["getUserInfo", "authorized"]),
    validRequiredFieldsOcrRequest() {
      const { pupsUse, imgFileNameObject } = this.addOcrRequestDataItem;

      if (!pupsUse) return false;
      else if (!imgFileNameObject) return false;
      else if (imgFileNameObject.size > uploadFileMaxSize) return false;
      else return true;
    },
    getWaitingCardCount() {
      if (!this.ocrProcessCards) return 0;
      if (this.ocrProcessCards.length > 4) return 0;
      return 4 - this.ocrProcessCards.length;
    }
  },
  watch: {
    requestOptions: {
      handler() {
        this.getOcrRequestInfo();
      },
      deep: true
    }
  },
  created() {
    // this.getOcrRequestInfo();
  },
  mounted() {
    // watch handler 에서 호출
    // this.getOcrRequestInfo();
    this.getOcrTemplateAvailableList();
    //console.log("userInfo", this.getUserInfo);
  },
  // 화면을 벗어날 경우(다른 메뉴로 이동할 경우) 인터벌을 종료시켜야 하므로.
  beforeDestroy() {
    // 화면 벗어날때
  },
  methods: {
    handleClickGoMenu(menuName) {
      this.$router.push({ name: menuName });
    },
    getStatusItem(code) {
      if (!code) return null;

      let returnItem = {};

      switch (code) {
        case "05":
          returnItem.color = "blue lighten-2";
          returnItem.mdiName = "mdi-restart";
          returnItem.statName = "재처리";
          break;
        case "04":
          returnItem.color = "red";
          returnItem.mdiName = "mdi-alert-circle-outline";
          returnItem.statName = "오류";
          break;
        case "03":
          returnItem.color = "green";
          returnItem.mdiName = "mdi-progress-check";
          returnItem.statName = "처리완료";
          break;
        case "02":
          returnItem.color = "orange";
          returnItem.mdiName = "mdi-progress-wrench";
          returnItem.statName = "처리중";
          break;
        case "01":
          returnItem.color = "blue";
          returnItem.mdiName = "mdi-progress-close";
          returnItem.statName = "신규등록";
          break;
        default:
          returnItem.color = "grey";
          returnItem.mdiName = "mdi-help-circle";
          returnItem.statName = "기타";
          break;
      }

      return returnItem;
    },
    handlePreviewType(obj) {
      if (!obj || !obj.tmplUid) return;
      this.openDialogPreviewOfNewOcrRequest(obj);
    },
    handleOcrType(obj) {
      if (!obj || !obj.tmplUid) return;
      this.openDialogNewOcrRequest(obj.tmplUid);
    },
    getOcrRequestInfo() {
      this.getOcrRequestList();
      this.getOcrRequestStatistics();
    },
    getOcrRequestList() {
      this.dataTableLoading = true;

      const { page, itemsPerPage } = this.requestOptions;
      var requestParam = {
        pagination: {
          page: page ? page : 1,
          itemsPerPage: itemsPerPage ? itemsPerPage : 10
        }
      };
      requestParam.search = {};
      if (this.searchRequest) {
        requestParam.search.searchText = this.searchRequest;
      }

      return this.$http
        .getOcrRequestList(requestParam)
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          console.log("res", res);
          this.totalCount = res.data.data.total;
          this.ocrRequestlist = res.data.data;
          // console.log(this.ocrRequestlist);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.dataTableLoading = false;
        });
    },
    getOcrRequestStatistics() {
      return this.$http
        .getOcrRequestStatistics()
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          console.log("res", res);
          res.data.data.map(m => {
            var card = this.topCards.filter(f => f.id === m.id);
            if (card.length > 0) {
              card[0].number = m.number;
              //console.log("card", card);
            }
          });
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        });
    },
    getOcrTemplateAvailableList() {
      return this.$http
        .getOcrTemplateAvailableList()
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          console.log("res", res);
          res.data.data.map(m => (m.loading = false));
          this.ocrProcessCards = res.data.data;
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        });
    },
    openDialogPreviewOfNewOcrRequest(item) {
      item.loading = true;
      return this.$http
        .getOcrTemplateDetail({ tmplUid: item.tmplUid })
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          // console.log("정상응답");
          this.ocrTemplateDetailItem = res.data.data;
          this.dialogPreviewOfNewOcrRequest = true;
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          item.loading = false;
        });

      // console.log("openDialogPreviewOfNewOcrRequest Clicked");
    },
    openDialogNewOcrRequest(tmplUid) {
      // eslint-disable-next-line prettier/prettier
      this.addOcrRequestDataItem = Object.assign({}, this.defaultOcrRequestDataItem);
      this.addOcrRequestDataItem.tmplUid = tmplUid;
      this.addOcrRequestDataItem.pupsUse = "";
      this.addOcrRequestDataItem.imgFileName = "";

      // OCR 처리 요청 다이얼로그 활성화
      this.dialogNewOcrRequest = true;
    },
    handleClickCreateOcrRequest() {
      let formData = new FormData();
      // eslint-disable-next-line prettier/prettier
      formData.append("uploadFile", this.addOcrRequestDataItem.imgFileNameObject);
      formData.append("tmplUid", this.addOcrRequestDataItem.tmplUid);
      formData.append("pupsUse", this.addOcrRequestDataItem.pupsUse);
      // eslint-disable-next-line prettier/prettier
      formData.append("imgFileName", this.addOcrRequestDataItem.imgFileNameObject.name);
      // eslint-disable-next-line prettier/prettier
      formData.append("imgFileType", this.addOcrRequestDataItem.imgFileNameObject.type);

      if (this.addOcrRequestDataItem.fileType == "pdf") {
        formData.append("imgPageCnt", this.addOcrRequestDataItem.pageCount);
      } else {
        formData.append("imgPageCnt", 1);
      }

      // console.log("this.addOcrRequestDataItem", this.addOcrRequestDataItem);
      // console.log("formData", formData);

      this.requestLoading = true;

      return this.$http
        .createOcrRequest(formData)
        .then(() => {
          // console.log("OCR Request list 수신 완료");
          // console.log("정상응답");
          // this.$toast.open({
          //   message: "요청이 정상적으로 처리 되었습니다.",
          //   type: "success"
          // });
          this.dialogNewOcrRequest = false;
          this.getOcrRequestInfo();
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.requestLoading = false;
        });
    },
    downloadResult(item) {
      this.$refs.ocrResultDialog.downloadResult(item);
    },
    formatDate(value, format) {
      if (value) {
        return moment(value).format(format);
      }
      return null;
    },
    showResultPopup(item) {
      //console.log("showResultPopup", JSON.stringify(item, null, 4));
      if (this.dataTableLoading) return;
      this.dataTableLoading = true;

      return this.$http
        .getOcrRequestResult({
          ocrRqstUid: item.ocrRqstUid
        })
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          this.$refs.ocrResultDialog.showOcrResultPopup(res.data.data);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.dataTableLoading = false;
        });
    },
    showRequestPopup(item) {
      // console.log("showRequestPopup", JSON.stringify(item, null, 4));
      this.dataTableLoading = true;

      return this.$http
        .getOcrRequestDetail({
          ocrRqstUid: item.ocrRqstUid
        })
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          this.$refs.popup.showOcrRequestPopup(res.data.data);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.dataTableLoading = false;
        });
    },
    showImagePopup() {
      var imgObj = {
        imgFileType: this.ocrTemplateDetailItem.imgFileType,
        imgOrgData: this.ocrTemplateDetailItem.imgOrgData
      };

      this.$refs.imgPopup.showImagePopup(imgObj);
    },
    addDropFile(e) {
      if (this.requestLoading) return false;
      if (e.dataTransfer.files.length > 0) {
        var uploadFile = e.dataTransfer.files[0];

        if (
          /^image\/jpeg/.test(uploadFile.type) ||
          /^image\/png/.test(uploadFile.type) ||
          /\/pdf$/.test(uploadFile.type)
        ) {
          this.addOcrRequestDataItem.imgFileNameObject =
            e.dataTransfer.files[0];
          this.onFileChange();
        }
      }
    },
    onFileChange() {
      const file = this.addOcrRequestDataItem.imgFileNameObject;
      if (file && file.name) {
        this.addOcrRequestDataItem.previewUrl = URL.createObjectURL(file);
        if (/\/pdf$/.test(file.type)) {
          this.addOcrRequestDataItem.fileType = "pdf";
        } else if (/^image\//.test(file.type)) {
          this.addOcrRequestDataItem.fileType = "image";
        } else {
          this.addOcrRequestDataItem.fileType = "";
        }
      } else {
        this.addOcrRequestDataItem.previewUrl = "";
        this.addOcrRequestDataItem.fileType = "";
      }
    },
    formatIntNumber(value) {
      return String(value.toFixed(0)).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  }
};
</script>

<style scoped>
#v-count-card .v-div-count {
  top: 0;
  right: 0;
  position: absolute;
  margin: 0 0 0 0;
}
.popuptitle-left-border {
  border-left: 8px solid #3d7e9a;
}
.title-left-border {
  border-left: 8px solid #222222;
}

.page-sub-title{
    color:#222222;
}

#ocr-process-card .v-btn-template-preview {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}

.show-btns {
  color: rgb(100, 100, 100) !important;
}
</style>
