<template>
  <v-dialog
    v-model="dialogOcrResultPop"
    hide-overlay
    transition="dialog-bottom-transition"
    scrollable
    max-width="70%"
  >
    <v-card id="ocr-result-dialog" min-height="700px">
      <!-- <v-container> -->
      <!-- <v-toolbar dark color="green lighten-1">
        <v-toolbar-title>
          <v-icon class="mr-2">mdi-file-eye</v-icon>문서 판독 결과
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-title>
          <v-btn dark color="primary" @click="dialogOcrResultPop = false">
            닫기
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar-title>
      </v-toolbar> -->
      <v-card-title style="background:#66BB6A;color:white">
        <v-icon class="mr-2">mdi-file-eye</v-icon>문서 판독 결과
        <v-spacer></v-spacer>
        <v-btn dark color="primary" @click="dialogOcrResultPop = false">
          닫기
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <!-- <div class="title-left-border py-3 my-3">
        <span class="display-1 ml-5 indigo--text">문서 판독 결과</span>
      </div> -->
      <v-card-text class="ma-0 pa-0" id="scroll-area" ref="scrollArea">
        <p class="title ml-3 mt-2 mb-0 text--secondary">
          요청하신 OCR 판독 건에 대한 편집과 저장을 수행할 수 있습니다.
        </p>
        <v-list-item>
          <v-row>
            <v-col>
              <v-text-field
                label="요청자"
                readonly
                hide-details
                :value="resultObj.userNm + ' (' + resultObj.ariBrnm + ')'"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="요청용도"
                readonly
                hide-details
                :value="resultObj.pupsUse"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="요청 템플릿"
                readonly
                hide-details
                :value="resultObj.tmplNm"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="요청 이미지"
                readonly
                hide-details
                :value="resultObj.imgFileName"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="요청일"
                readonly
                hide-details
                :value="resultObj.createdAt | formatDate('YYYY-MM-DD HH:mm')"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="처리 완료일"
                readonly
                hide-details
                :value="resultObj.cmplAt | formatDate('YYYY-MM-DD HH:mm')"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-list-item>

        <v-card class="pa-3 ma-2 mt-5">
          <v-data-table
            :headers="getHeaders()"
            :items="resultObj.ocrRsltModItem"
            :search="search"
            :items-per-page="5"
            class="elevation-0"
            loading-text="Loading... Please wait"
            :loading="requestLoading"
            @update:sort-by="initiateEditedTemplate()"
            @update:sort-desc="initiateEditedTemplate()"
            @update:page="initiateEditedTemplate()"
            @update:items-per-page="initiateEditedTemplate()"
          >
            <template v-slot:item="{ item }">
              <tr
                :class="
                  editedResult.pageNo === item.pageNo ? 'grey lighten-2' : ''
                "
                @click="handleClickRow(item)"
              >
                <td align="center">
                  {{ item.pageNo }}
                </td>
                <template v-if="item.ocrSuccess">
                  <td v-for="d in item.pageResultData" :key="d.itemNo">
                    {{ Array.isArray(d.itemData) ? d.itemData[0] : d.itemData }}
                  </td>
                </template>
                <td :colspan="getHeaders().length - 1" v-else>
                  인식에 실패 하였습니다.
                </td>
              </tr>
            </template>
          </v-data-table>

          <v-list-item v-if="editedResult && editedResult.pageNo > 0">
            <v-row class="ma-0">
              <v-col class="ma-0 pa-0">
                <div class="title grey--text mb-5 text-center">
                  업로드 원본 이미지
                </div>
                <div
                  id="app"
                  class="ma-4 mt-2"
                  style="position: relative; border:1px solid #41B883; border-style:dashed;"
                >
                  <v-hover v-slot:default="{ hover }">
                    <v-card flat min-height="350">
                      <v-list-item-content
                        class="d-flex justify-center"
                        v-if="resultObj.fileType == 'image'"
                      >
                        <v-img
                          :src="
                            'data:' +
                              resultObj.imgFileType +
                              ';base64,' +
                              resultObj.imgOrgData
                          "
                          class="grey lighten-2"
                          contain
                          max-width="400"
                          max-height="350"
                        >
                        </v-img>
                      </v-list-item-content>
                      <v-list-item-content
                        class="d-flex justify-center"
                        v-if="resultObj.fileType == 'pdf'"
                      >
                        <v-sheet
                          color="transparent"
                          class="d-flex justify-center"
                        >
                          <pdf
                            class="ma-1"
                            style="width:230px"
                            :page="currentPage"
                            :src="imgUrl"
                            @num-pages="pageCount = $event"
                            @page-loaded="currentPage = $event"
                            @progress="loadedRatio = $event"
                          >
                          </pdf>
                        </v-sheet>
                      </v-list-item-content>
                      <v-overlay absolute opacity="0">
                        <v-btn
                          :class="{ 'show-btns': hover }"
                          color="transparent"
                          icon
                          @click="showImagePopup()"
                        >
                          <v-icon
                            :class="{ 'show-btns': hover }"
                            color="transparent"
                            x-large
                          >
                            mdi-magnify-plus
                          </v-icon>
                        </v-btn>
                      </v-overlay>
                    </v-card>
                  </v-hover>
                  <!-- </v-hover> -->
                </div>
              </v-col>
              <v-divider vertical class="ma-4" />
              <v-col class="ma-5 mb-0">
                <div class="title grey--text mb-5 text-center">
                  판 독 결 과
                  <v-btn
                    class="ma-2"
                    outlined
                    color="green lighten-2"
                    small
                    @click="downloadResult(resultObj)"
                  >
                    저장
                  </v-btn>
                </div>

                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="font-weight-bold">No.</th>
                        <th class="font-weight-bold">항목</th>
                        <th class="font-weight-bold">판독 결과</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="d in editedResult.pageResultData"
                        :key="d.itemNo"
                      >
                        <td class="text--secondary">
                          {{ d.itemNo }}
                        </td>
                        <td class="text--secondary">
                          {{ d.itemName }}
                        </td>
                        <td class="text--secondary">
                          <div v-if="Array.isArray(d.itemData)">
                            <v-btn
                              dark
                              class="ma-1"
                              x-small
                              :color="
                                d.itemExpand
                                  ? 'grey lighten-1'
                                  : 'purple lighten-3'
                              "
                              @click="d.itemExpand = !d.itemExpand"
                            >
                              <v-icon dark small class="ma-0 pa-0">
                                {{
                                  d.itemExpand
                                    ? "mdi-chevron-up"
                                    : "mdi-chevron-down"
                                }}
                              </v-icon>
                            </v-btn>
                            {{
                              (d.itemData.length > 0
                                ? d.itemData[0]
                                : "결과없음") +
                                " (" +
                                d.itemData.length +
                                "건)"
                            }}
                          </div>
                          <div v-if="Array.isArray(d.itemData) && d.itemExpand">
                            <v-text-field
                              v-for="(d2, index) in d.itemData"
                              :key="index"
                              class="text--secondary"
                              color="blue"
                              :background-color="
                                editedResult.editItem === true
                                  ? ''
                                  : 'transparent'
                              "
                              v-model.trim="d.itemData[index]"
                              single-line
                              dense
                              hide-details
                              :clearable="
                                editedResult.editItem === true ? true : false
                              "
                              solo
                              flat
                              :readonly="
                                editedResult.editItem === true ? false : true
                              "
                            ></v-text-field>
                          </div>
                          <v-text-field
                            v-if="!Array.isArray(d.itemData)"
                            class="text--secondary"
                            color="blue"
                            :background-color="
                              editedResult.editItem === true
                                ? ''
                                : 'transparent'
                            "
                            v-model.trim="d.itemData"
                            single-line
                            hide-details
                            :clearable="
                              editedResult.editItem === true ? true : false
                            "
                            solo
                            flat
                            :readonly="
                              editedResult.editItem === true ? false : true
                            "
                          ></v-text-field>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
                <div class="text-right">
                  <v-btn
                    v-if="!editedResult.editItem && editedResult.ocrSuccess"
                    class="ma-2"
                    outlined
                    color="indigo"
                    @click="handleClickEdit(true)"
                  >
                    편집
                  </v-btn>
                  <v-btn
                    v-if="editedResult.editItem"
                    class="ma-2"
                    outlined
                    color="teal"
                    @click="handleClickEdit(false)"
                  >
                    취소
                  </v-btn>
                  <v-btn
                    v-if="editedResult.editItem"
                    class="ma-2"
                    outlined
                    color="red"
                    :disabled="isChangedEditItems ? false : true"
                    @click="handleClickSave()"
                  >
                    저장
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-list-item>
        </v-card>
        <!-- </v-container> -->

        <!-- <v-btn large class="v-btn-close" color="red" icon @click="closeDialog">
        <v-icon>mdi-close</v-icon>
      </v-btn> -->
      </v-card-text>
    </v-card>

    <!-- Image 보기 다이얼로그 -->
    <ImageViewPop ref="imgPopup"></ImageViewPop>
  </v-dialog>
</template>

<script>
import Vue from "vue";
import pdf from "vue-pdf";
import XLSX from "xlsx";
import moment from "moment";
import { base64StringToBlob } from "blob-util";
import { mapGetters } from "vuex";

import ImageViewPop from "@/views/ocr/ImageViewPop.vue";

export default {
  name: "OcrResultPop",
  components: {
    pdf,
    ImageViewPop,
    // eslint-disable-next-line vue/no-unused-components
    SheetFooter: {
      functional: true,

      render(h, { children }) {
        return h(
          "v-sheet",
          {
            staticClass: "mt-auto align-center justify-center d-flex",
            props: {
              color: "rgba(0, 0, 0, .36)",
              dark: true,
              height: 50
            }
          },
          children
        );
      }
    }
  },
  data: () => ({
    resultObj: {},
    templateObj: {},
    dialogOcrResultPop: false,
    search: "",
    editedResult: {},
    requestLoading: false,
    currentPage: 1,
    imgUrl: null
  }),
  computed: {
    ...mapGetters(["getUserInfo", "authorized"]),
    isChangedEditItems: function() {
      // console.log("check", this.editedResult);
      if (this.editedResult.pageNo <= 0) return false;
      if (!this.editedResult.backup) return false;

      var originItemString = JSON.stringify(
        this.editedResult.backup.pageResultData
      );
      var editedItemString = JSON.stringify(this.editedResult.pageResultData);
      if (originItemString === editedItemString) return false;
      return true;
    }
  },
  mounted() {
    this.initiateEditedResult();
  },
  methods: {
    initiateEditedResult() {
      this.editedResult = {
        pageNo: 0,
        editItem: false
      };
    },
    showOcrResultPopup(obj) {
      // console.log("results ==>", JSON.stringify(obj, null, 4)))
      // console.log("results ==>", obj);

      this.editedResult = {};
      this.resultObj = {};
      this.templateObj = {};
      this.currentPage = 1;

      if (!obj || !obj.result || !obj.result.ocrRqstUid) return;
      if (!obj || !obj.tmplate || !obj.tmplate.tmplUid) return;

      this.resultObj = obj.result;
      this.templateObj = obj.tmplate;

      if (this.resultObj.ocrTmplMgmt && this.resultObj.ocrTmplMgmt.tmplNm) {
        this.resultObj.tmplNm = this.resultObj.ocrTmplMgmt.tmplNm;
      }

      // 확장자 처리
      if (/\/pdf$/.test(this.resultObj.imgFileType)) {
        this.resultObj.fileType = "pdf";
      } else if (/^image\//.test(this.resultObj.imgFileType)) {
        this.resultObj.fileType = "image";
      } else {
        this.resultObj.fileType = "";
      }

      const blob = base64StringToBlob(
        this.resultObj.imgOrgData,
        this.resultObj.imgFileType
      );
      var blobURL = URL.createObjectURL(blob);
      this.imgUrl = blobURL;

      if (this.resultObj.ocrRsltModItem) {
        this.handleClickRow(this.resultObj.ocrRsltModItem[0]);
      }

      this.$forceUpdate();

      this.dialogOcrResultPop = true;
    },
    closeDialog() {
      this.dialogOcrResultPop = false;
      this.reqObj = {};
      this.results = [];
    },
    getHeaders() {
      // console.log("ocrItem", this.templateObj);
      var returnHeaders = [];
      if (!this.templateObj || !this.templateObj.tmplOcrItem)
        return returnHeaders;
      returnHeaders.push({ text: "페이지", align: "center", sortable: false });
      // eslint-disable-next-line no-unused-vars
      Object.entries(this.templateObj.tmplOcrItem).forEach(([key, data]) => {
        var headerItem = {
          text: data.itemName,
          sortable: false
        };
        returnHeaders.push(headerItem);
      });
      return returnHeaders;
    },
    handleClickRow(item, forceInd) {
      if (!forceInd) {
        if (this.requestLoading) return;
        if (this.editedResult && this.editedResult.pageNo == item.pageNo)
          return;
      }
      //this.editedResult = Object.assign({}, item);
      this.editedResult = JSON.parse(JSON.stringify(item));
      this.editedResult.backup = item;
      Vue.set(this.editedResult, "editItem", false);
      this.editedResult.pageResultData.map(m => {
        Vue.set(m, "itemExpand", false);
      });

      this.currentPage = item.pageNo;
    },
    showImagePopup() {
      var imgObj = {
        imgFileType: this.resultObj.imgFileType,
        imgOrgData: this.resultObj.imgOrgData,
        currentPage: this.currentPage
      };

      this.$refs.imgPopup.showImagePopup(imgObj);
    },
    initiateEditedTemplate() {
      if (this.requestLoading) return;
      this.editedResult = {};
    },
    handleClickEdit(updateInd) {
      this.editedResult.editItem = updateInd;
      if (!updateInd) {
        this.handleClickRow(this.editedResult.backup, true);
      }
      this.$forceUpdate();
    },
    handleClickSave() {
      var cloneResult = JSON.parse(JSON.stringify(this.resultObj));
      // console.log("cloneResult", cloneResult);
      var originItem = cloneResult.ocrRsltModItem;
      var originEditedItem = originItem.filter(
        f => f.pageNo === this.editedResult.pageNo
      );
      originEditedItem[0].pageResultData = JSON.parse(
        JSON.stringify(this.editedResult.pageResultData)
      );
      originEditedItem[0].pageResultData.map(m => {
        if (Object.prototype.hasOwnProperty.call(m, "itemExpand"))
          delete m.itemExpand;
      });

      // console.log(originItem);
      var updateObj = {
        ocrRqstUid: this.resultObj.ocrRqstUid,
        ocrRsltModItem: JSON.stringify(originItem)
      };

      this.requestLoading = true;

      return this.$http
        .updateOcrRequestResult(updateObj)
        .then(() => {
          this.requestLoading = false;
          this.resultObj.ocrRsltModItem = JSON.parse(
            JSON.stringify(originItem)
          );
          this.editedResult.editItem = false;

          // this.$toast.open({
          //   message: "변경이 정상적으로 처리 되었습니다.",
          //   type: "success"
          // });
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.requestLoading = false;
        });
    },
    downloadResult(item) {
      console.log("item", item);
      // 엑셀 워크시트로 json 내보내기

      // 요청정보
      var basicRequestInfos = [];
      basicRequestInfos.push({ ITEM: "요청자", INFO: item.userNm });
      basicRequestInfos.push({
        ITEM: "요청일",
        INFO: this.formatDate(item.createdAt, "YYYY-MM-DD HH:mm:ss")
      });
      basicRequestInfos.push({ ITEM: "용도", INFO: item.pupsUse });
      basicRequestInfos.push({
        ITEM: "요청템플릿",
        INFO: item.ocrTmplMgmt.tmplNm
      });
      basicRequestInfos.push({ ITEM: "요청파일", INFO: item.imgFileName });
      basicRequestInfos.push({ ITEM: "페이지수", INFO: item.imgPageCnt });
      basicRequestInfos.push({
        ITEM: "처리완료일",
        INFO: this.formatDate(item.cmplAt, "YYYY-MM-DD HH:mm:ss")
      });

      var basicRequestInfosWS = XLSX.utils.json_to_sheet(basicRequestInfos);
      basicRequestInfosWS["!cols"] = [{ wch: 10 }, { wch: 25 }];

      // 처리결과 데이터
      // console.log("item", item);
      var resultExcelData = [];
      var resultItemData = item.ocrRsltModItem;
      //console.log("item", JSON.stringify(resultItemData, null, 2));

      var resultItemDataColSize = [{ wch: 13 }];
      resultItemData.map(m => {
        if (m.ocrSuccess) {
          var excelRowData = [{ "페이지 번호": m.pageNo }];

          let maxArrayLength = 0;

          m.pageResultData.map(mp => {
            if (Array.isArray(mp.itemData)) {
              if (maxArrayLength < mp.itemData.length)
                maxArrayLength = mp.itemData.length;
              excelRowData[0][mp.itemName] = "";
            } else {
              excelRowData[0][mp.itemName] = mp.itemData;
            }
            resultItemDataColSize.push({ wch: 20 });
          });

          if (maxArrayLength > 0) {
            for (var idx = 0; idx < maxArrayLength - 1; idx += 1) {
              const newExcelRowData = JSON.parse(
                JSON.stringify(excelRowData[0])
              );

              for (const key of Object.keys(newExcelRowData)) {
                newExcelRowData[key] = "";
              }

              excelRowData.push(newExcelRowData);
            }

            m.pageResultData.map(mp => {
              if (Array.isArray(mp.itemData)) {
                let mpaIndex = 0;
                mp.itemData.map(mpa => {
                  excelRowData[mpaIndex][mp.itemName] = mpa;
                  mpaIndex += 1;
                });
              }
            });
          }

          //excelRowData.power = "zzzz";
          excelRowData.forEach(f => resultExcelData.push(f));
          //resultExcelData.push();
        }
      });

      var resultExcelWS = XLSX.utils.json_to_sheet(resultExcelData);
      resultExcelWS["!cols"] = resultItemDataColSize;
      // console.log("resultExcelWS", resultExcelWS);

      // workbook 생성
      var resultWorkBook = XLSX.utils.book_new();
      // eslint-disable-next-line prettier/prettier
      XLSX.utils.book_append_sheet(resultWorkBook, basicRequestInfosWS, "기본정보");
      // eslint-disable-next-line prettier/prettier
      XLSX.utils.book_append_sheet(resultWorkBook, resultExcelWS, "OCR처리결과");

      // 엑셀 파일을 내보낸다.
      XLSX.writeFile(
        resultWorkBook,
        item.ocrRqstUid +
          "_" +
          this.formatDate(item.createdAt, "YYYYMMDDHHmmss") +
          "_result.xlsx"
      );
    },
    formatDate(value, format) {
      if (value) {
        return moment(value).format(format);
      }
      return null;
    }
  }
};
</script>

<style scoped>
#ocr-result-dialog .v-btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}

.show-btns {
  color: rgb(100, 100, 100) !important;
}
</style>
