<template>
  <div id="ocr-request-admin">
    <!-- SECTION : 상단 카드 -->
    <v-card class="d-flex" color="transparent" tile flat>
      <v-container>
        <v-row>
          <v-col
            v-for="(c, index) in topCards"
            :key="index"
            cols="12"
            sm="3"
            md="3"
          >
            <v-card class="pt-2" tile outlined color="transparent">
              <v-list-item two-line>
                <v-list-item-content>
                  <div class="title mb-1 text--secondary">
                    {{ c.name }}
                  </div>
                  <v-list-item-title class="display-3 font-weight-bold">
                    <span :class="c.color">
                      <animated-number
                        :value="c.number"
                        :duration="300"
                        :formatValue="formatIntNumber"
                      />
                    </span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <!-- SECTION : 상단 카드 -->

    <!-- SECTION : 등록 리스트 -->
    <v-card class="d-flex py-2" color="transparent" tile flat>
      <v-container>
        <div class="title-left-border py-3 my-3">
          <span class="display-1 ml-5 page-sub-title">
            전체 등록 리스트
            <v-btn
              color="blue lighten-2 ml-5"
              text
              large
              @click="getOcrRequestInfo"
            >
              <v-icon large>mdi-reload</v-icon>
            </v-btn>
          </span>
        </div>

        <v-data-table
          :headers="ocrRequestlistHeaders"
          :items="ocrRequestlist"
          :loading="dataTableLoading"
          :options.sync="requestOptions"
          :server-items-length="totalCount"
          :footer-props="{
            'items-per-page-options': [5, 10, 15, 25, 50]
          }"
          class="pa-4 elevation-2"
          disable-sort
          loading-text="Loading... Please wait"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-spacer></v-spacer>
              <div style="width: 100px;">
                <v-select
                  v-model="searchStatus"
                  :items="statusTypes"
                  item-text="value"
                  item-value="cd"
                  hide-details
                  @change="getOcrRequestList()"
                ></v-select>
              </div>
              <div style="width: 260px;" class="ml-2">
                <v-text-field
                  v-model="searchRequest"
                  append-icon="mdi-magnify"
                  label="용도,템플릿명 또는 사용자명"
                  hide-details
                  clearable
                  @keyup.esc="
                    if (searchRequest != '') {
                      searchRequest = '';
                      getOcrRequestList();
                    }
                  "
                  @keyup.enter="getOcrRequestList()"
                  @click:append="getOcrRequestList()"
                  @click:clear="
                    searchRequest = '';
                    getOcrRequestList();
                  "
                ></v-text-field>
              </div>
            </v-toolbar>
          </template>

          <template v-slot:item.imgFileName="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <span
                  class="d-inline-block text-truncate"
                  style="max-width:150px"
                  v-on="on"
                >
                  {{ item.imgFileName }}
                </span>
              </template>
              <span>{{ item.imgFileName }}</span>
            </v-tooltip>
          </template>

          <template v-slot:item.createdAt="{ item }">
            {{ item.createdAt | formatDate("YYYY-MM-DD HH:mm") }}
          </template>
          <template v-slot:item.ocrStat="{ item }">
            <v-chip
              small
              label
              text-color="white"
              :color="getStatusItem(item.ocrStat).color"
            >
              <v-avatar left>
                <v-icon small>
                  {{ getStatusItem(item.ocrStat).mdiName }}
                </v-icon>
              </v-avatar>
              {{ getStatusItem(item.ocrStat).statName }}
            </v-chip>

            <!-- v-if="item.ocrStat == '04'" -->
            <!-- <v-btn
              small
              text-color="white"
              color="blue"
              icon
              @click="restartOcrRequest(item)"
            >
              <v-icon small>
                mdi-restart
              </v-icon>
            </v-btn> -->

            <v-tooltip top v-if="item.ocrStat == '03' || item.ocrStat == '04'">
              <template v-slot:activator="{ on }">
                <v-icon
                  class="ml-1"
                  color="blue"
                  @click="restartOcrRequest(item)"
                  v-on="on"
                >
                  mdi-restart
                </v-icon>
              </template>
              <span>재처리</span>
            </v-tooltip>
          </template>

          <template v-slot:item.actions="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-icon
                  class="mr-1"
                  color="green"
                  @click.stop="showRequestPopup(item)"
                  v-on="on"
                >
                  mdi-format-list-checkbox
                </v-icon>
              </template>
              <span>요청내역 보기</span>
            </v-tooltip>

            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-icon
                  class="mr-1"
                  color="orange"
                  @click.stop="showResultPopup(item)"
                  v-on="on"
                  :disabled="item.ocrStat !== '03'"
                >
                  mdi-file-eye
                </v-icon>
              </template>
              <span>결과보기</span>
            </v-tooltip>

            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-icon
                  color="blue"
                  @click.stop="downloadResult(item)"
                  v-on="on"
                  :disabled="item.ocrStat !== '03'"
                >
                  mdi-download
                </v-icon>
              </template>
              <span>결과 다운로드</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-container>
    </v-card>

    <!-- 요청내역 보기 다이얼로그 -->
    <OcrRequestPop ref="popup"></OcrRequestPop>
    <!-- 결과보기 -->
    <OcrResultPop ref="ocrResultDialog"></OcrResultPop>
    <!-- Image 보기 다이얼로그 -->
    <ImageViewPop ref="imgPopup"></ImageViewPop>
  </div>
</template>

<script>
/* eslint-disable vue/no-unused-components */
import moment from "moment";
import pdf from "vue-pdf";
import AnimatedNumber from "animated-number-vue";
import XLSX from "xlsx";
import OcrRequestPop from "@/views/ocr/OcrRequestPop.vue";
import OcrResultPop from "@/views/ocr/OcrResultPop.vue";
import ImageViewPop from "@/views/ocr/ImageViewPop.vue";

import { mapGetters } from "vuex";

export default {
  name: "OcrRequestAdmin",
  components: {
    pdf,
    AnimatedNumber,
    OcrRequestPop,
    OcrResultPop,
    ImageViewPop
  },

  data: () => ({
    transparent: "rgba(255, 255, 255, 0)",
    topCards: [
      {
        id: "accumulate",
        name: "누적",
        number: 0,
        //description: "Lorem ipsum dolor sit amet consectetur cing elit. D?",
        icon: "mdi-layers-triple",
        color: "green--text"
      },
      {
        id: "today",
        name: "오늘",
        number: 0,
        //description: "sit amet consectetur adipisicing",
        icon: "mdi-calendar-today",
        color: "blue--text"
      },
      {
        id: "processing",
        name: "처리중",
        number: 0,
        //description: "ctetur adipisicing elit. Dolorem, expedita molestias",
        icon: "mdi-cog-refresh",
        color: "orange--text"
      },
      {
        id: "error",
        name: "오류",
        number: 0,
        //description: "sectetur adipisicum dolor sit amet consect",
        icon: "mdi-alert-circle-outline",
        color: "red--text"
      }
    ],
    ocrRequestlistHeaders: [
      {
        text: "요청ID",
        align: "center",
        sortable: false,
        value: "ocrRqstUid"
      },
      { text: "용도", value: "pupsUse" },
      { text: "양식", value: "ocrTmplMgmt.tmplNm" },
      { text: "파일명", value: "imgFileName" },
      {
        text: "페이지",
        value: "imgPageCnt",
        align: "center"
      },
      { text: "부서명", value: "ariBrnm", width: "140px" },
      { text: "이름", value: "userNm", width: "85px" },
      { text: "등록일", value: "createdAt", width: "150px" },
      { text: "진행상태", value: "ocrStat", width: "150px" },
      // { text: "요청상세내역", value: "requestDetail", sortable: false, align: "center" },
      // { text: "결과보기", value: "requestResult", sortable: false, align: "center" },
      // { text: "다운로드", value: "download", sortable: false, align: "center" },
      { text: "Actions", value: "actions", width: "120px" }
    ],
    dataTableLoading: false,
    requestLoading: false,
    ocrRequestlist: [],
    requestOptions: {},
    searchRequest: "",
    searchStatus: "00",
    statusTypes: [
      { cd: "00", value: "전체" },
      { cd: "01", value: "등록" },
      { cd: "02", value: "처리중" },
      { cd: "03", value: "완료" },
      { cd: "04", value: "오류" },
      { cd: "05", value: "재처리" }
    ],
    totalCount: 0,
    addOcrRequestDataItem: {},
    ocrTemplateDetailItem: {},
    dialogNewOcrRequest: false
  }),
  computed: {
    ...mapGetters(["getUserInfo", "authorized"])
  },
  watch: {
    requestOptions: {
      handler() {
        this.getOcrRequestInfo();
      },
      deep: true
    }
  },
  created() {
    // this.getOcrRequestInfo();
  },
  mounted() {
    // watch handler 에서 호출
  },
  // 화면을 벗어날 경우(다른 메뉴로 이동할 경우) 인터벌을 종료시켜야 하므로.
  beforeDestroy() {
    // 화면 벗어날때
  },
  methods: {
    handleClickGoMenu(menuName) {
      this.$router.push({ name: menuName });
    },
    getStatusItem(code) {
      if (!code) return null;

      let returnItem = {};

      switch (code) {
        case "05":
          returnItem.color = "blue lighten-2";
          returnItem.mdiName = "mdi-restart";
          returnItem.statName = "재처리";
          break;
        case "04":
          returnItem.color = "red";
          returnItem.mdiName = "mdi-alert-circle-outline";
          returnItem.statName = "오류";
          break;
        case "03":
          returnItem.color = "green";
          returnItem.mdiName = "mdi-progress-check";
          returnItem.statName = "처리완료";
          break;
        case "02":
          returnItem.color = "orange";
          returnItem.mdiName = "mdi-progress-wrench";
          returnItem.statName = "처리중";
          break;
        case "01":
          returnItem.color = "blue";
          returnItem.mdiName = "mdi-progress-close";
          returnItem.statName = "신규등록";
          break;
        default:
          returnItem.color = "grey";
          returnItem.mdiName = "mdi-help-circle";
          returnItem.statName = "기타";
          break;
      }

      return returnItem;
    },
    getOcrRequestInfo() {
      this.getOcrRequestList();
      this.getOcrRequestStatistics();
    },
    getOcrRequestList() {
      this.dataTableLoading = true;

      const { page, itemsPerPage } = this.requestOptions;
      var requestParam = {
        pagination: {
          page: page ? page : 1,
          itemsPerPage: itemsPerPage ? itemsPerPage : 10
        }
      };
      requestParam.search = {};
      if (this.searchRequest) {
        requestParam.search.searchText = this.searchRequest;
      }
      if (this.searchStatus && this.searchStatus !== "00") {
        requestParam.search.searchStatus = this.searchStatus;
      }

      return this.$http
        .getOcrRequestListAdmin(requestParam)
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          console.log("res", res);
          this.totalCount = res.data.data.total;
          this.ocrRequestlist = res.data.data;
          // console.log(this.ocrRequestlist);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.dataTableLoading = false;
        });
    },
    getOcrRequestStatistics() {
      return this.$http
        .getOcrRequestStatisticsAdmin()
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          console.log("res", res);
          res.data.data.map(m => {
            var card = this.topCards.filter(f => f.id === m.id);
            if (card.length > 0) {
              card[0].number = m.number;
              //console.log("card", card);
            }
          });
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        });
    },
    restartOcrRequest(item) {
      var updateObj = {
        ocrRqstUid: item.ocrRqstUid,
        ocrStat: "05"
      };

      this.dataTableLoading = true;

      return this.$http
        .updateOcrRequestStatus(updateObj)
        .then(() => {
          this.dataTableLoading = false;
          item.ocrStat = "05";
          //this.$toast.open({ message: "처리 되었습니다.", type: "success" });
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.dataTableLoading = false;
        });
    },
    downloadResult(item) {
      this.$refs.ocrResultDialog.downloadResult(item);
    },
    formatDate(value, format) {
      if (value) {
        return moment(value).format(format);
      }
      return null;
    },
    showResultPopup(item) {
      //console.log("showResultPopup", JSON.stringify(item, null, 4));
      if (this.dataTableLoading) return;
      this.dataTableLoading = true;

      return this.$http
        .getOcrRequestResult({
          ocrRqstUid: item.ocrRqstUid
        })
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          this.$refs.ocrResultDialog.showOcrResultPopup(res.data.data);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.dataTableLoading = false;
        });
    },
    showRequestPopup(item) {
      // console.log("showRequestPopup", JSON.stringify(item, null, 4));
      this.dataTableLoading = true;

      return this.$http
        .getOcrRequestDetail({
          ocrRqstUid: item.ocrRqstUid
        })
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          this.$refs.popup.showOcrRequestPopup(res.data.data);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.dataTableLoading = false;
        });
    },
    showImagePopup() {
      var imgObj = {
        imgFileType: this.ocrTemplateDetailItem.imgFileType,
        imgOrgData: this.ocrTemplateDetailItem.imgOrgData
      };

      this.$refs.imgPopup.showImagePopup(imgObj);
    },
    formatIntNumber(value) {
      return String(value.toFixed(0)).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  }
};
</script>

<style scoped>
#v-count-card .v-div-count {
  top: 0;
  right: 0;
  position: absolute;
  margin: 0 0 0 0;
}
.popuptitle-left-border {
  border-left: 8px solid #3d7e9a;
}
.title-left-border {
  border-left: 8px solid #222222;
}
.page-sub-title{
    color:#222222;
}
#ocr-process-card .v-btn-template-preview {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}

.show-btns {
  color: rgb(100, 100, 100) !important;
}
</style>
