/* eslint-disable vue/no-unused-components */
<template>
  <v-dialog v-model="dialog" max-width="950px">
    <v-card style="overflow-x: hidden;">
      <v-toolbar flat color="purple">
        <!-- <v-icon>mdi-account</v-icon> -->
        <v-toolbar-title class="display-1 font-weight-bold white--text">
          OCR 문서인식 요청 내역 보기
        </v-toolbar-title>
      </v-toolbar>
      <v-row>
        <v-col cols="6">
          <v-list-item>
            <v-text-field
              v-model="ocrRequestObj.ocrRqstUid"
              label="OCR 요청 ID"
              class="font-weight-regular"
              prepend-icon="mdi-format-list-numbered"
              readonly
              hide-details
            ></v-text-field>
          </v-list-item>
        </v-col>

        <v-col cols="6">
          <v-list-item>
            <v-text-field
              label="요청일"
              class="font-weight-regular"
              prepend-icon="mdi-calendar-edit"
              readonly
              hide-details
              :value="
                ocrRequestObj.createdAt | formatDate('YYYY-MM-DD HH:mm:ss')
              "
            ></v-text-field>
          </v-list-item>
        </v-col>

        <v-col cols="6">
          <v-list-item>
            <v-text-field
              v-model="ocrRequestObj.userNm"
              label="요청자"
              class="font-weight-regular"
              prepend-icon="mdi-account"
              readonly
              hide-details
            ></v-text-field>
          </v-list-item>
        </v-col>

        <v-col cols="6">
          <v-list-item>
            <v-text-field
              v-model="ocrRequestObj.pupsUse"
              label="문서명"
              class="font-weight-regular"
              prepend-icon="mdi-text-box"
              readonly
              hide-details
            ></v-text-field>
          </v-list-item>
        </v-col>

        <v-col cols="6">
          <v-list-item>
            <v-text-field
              v-model="ocrRequestObj.imgFileName"
              label="파일명"
              class="font-weight-regular"
              prepend-icon="mdi-paperclip"
              readonly
              hide-details
            ></v-text-field>
          </v-list-item>
        </v-col>

        <v-col cols="6">
          <v-list-item>
            <v-text-field
              v-model="ocrRequestObj.imgPageCnt"
              label="페이지수"
              class="font-weight-regular"
              prepend-icon="mdi-book-open-page-variant"
              readonly
              hide-details
            ></v-text-field>
          </v-list-item>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <div
            id="app"
            class="ma-4 mt-2"
            style="position: relative; border:1px solid #41B883; border-style:dashed;"
          >
            <v-hover v-slot:default="{ hover }">
              <v-card flat color="grey lighten-2">
                <v-list-item-content
                  class="d-flex justify-center"
                  v-if="ocrRequestObj.fileType == 'image'"
                >
                  <v-img
                    :src="
                      'data:' +
                        ocrRequestObj.imgFileType +
                        ';base64,' +
                        ocrRequestObj.imgOrgData
                    "
                    class="grey lighten-2"
                    contain
                    max-height="390"
                    max-width="355"
                  >
                  </v-img>
                </v-list-item-content>
                <v-list-item-content
                  class="d-flex justify-center"
                  v-if="ocrRequestObj.fileType == 'pdf'"
                >
                  <v-sheet color="transparent" class="d-flex justify-center">
                    <pdf
                      class="ma-1"
                      style="width:220px"
                      :page="currentPage"
                      :src="imgUrl"
                      @num-pages="pageCount = $event"
                      @page-loaded="currentPage = $event"
                      @progress="loadedRatio = $event"
                    >
                    </pdf>
                  </v-sheet>
                </v-list-item-content>
                <v-overlay absolute opacity="0">
                  <v-btn
                    :class="{ 'show-btns': hover }"
                    color="transparent"
                    icon
                    @click="showImagePopup()"
                  >
                    <v-icon
                      :class="{ 'show-btns': hover }"
                      color="transparent"
                      x-large
                    >
                      mdi-magnify-plus
                    </v-icon>
                  </v-btn>
                </v-overlay>
              </v-card>
            </v-hover>
            <span
              style="display: inline-block; width: 95%; text-align: center;"
              class="mt-2"
              v-if="ocrRequestObj.fileType == 'pdf'"
            >
              <v-pagination
                dense
                v-model="currentPage"
                :length="pageCount"
                :page="currentPage"
                :total-visible="8"
              ></v-pagination>
            </span>
            <!-- </v-hover> -->
          </div>
        </v-col>
      </v-row>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="purple"
          dark
          class="title font-weight-regular mr-3"
          @click="dialog = false"
        >
          닫기
        </v-btn>
      </v-card-actions>
    </v-card>
    <!-- Image 보기 다이얼로그 -->
    <ImageViewPop ref="imgPopup"></ImageViewPop>
  </v-dialog>
</template>

<script>
import pdf from "vue-pdf";
import ImageViewPop from "@/views/ocr/ImageViewPop.vue";
import { base64StringToBlob } from "blob-util";

export default {
  components: {
    ImageViewPop,
    pdf,
    // eslint-disable-next-line vue/no-unused-components
    SheetFooter: {
      functional: true,

      render(h, { children }) {
        return h(
          "v-sheet",
          {
            staticClass: "mt-auto align-center justify-center d-flex",
            props: {
              color: "rgba(0, 0, 0, .36)",
              dark: true,
              height: 50
            }
          },
          children
        );
      }
    }
  },
  data() {
    return {
      ocrRequestObj: {
        ocrRqstUid: ""
      },
      dialog: false,
      pageCount: null,
      currentPage: 1,
      loadedRatio: null,
      imgUrl: null
    };
  },
  methods: {
    showOcrRequestPopup(obj) {
      this.ocrRequestObj = null;
      this.imgUrl = null;
      if (!obj || !obj.ocrRqstUid) return;
      this.ocrRequestObj = obj;
      if (/\/pdf$/.test(obj.imgFileType)) {
        this.currentPage = 1;
        this.ocrRequestObj.fileType = "pdf";
      } else if (/^image\//.test(obj.imgFileType)) {
        this.ocrRequestObj.fileType = "image";
      } else {
        this.ocrRequestObj.fileType = "";
      }

      const blob = base64StringToBlob(
        this.ocrRequestObj.imgOrgData,
        this.ocrRequestObj.imgFileType
      );
      var blobURL = URL.createObjectURL(blob);
      this.imgUrl = blobURL;
      this.$forceUpdate();

      this.dialog = true;
    },
    hidePopup() {
      this.dialog = false;
    },
    showImagePopup() {
      var imgObj = {
        imgFileType: this.ocrRequestObj.imgFileType,
        imgOrgData: this.ocrRequestObj.imgOrgData,
        currentPage: this.currentPage
      };

      this.$refs.imgPopup.showImagePopup(imgObj);
    }
  }
};
</script>

<style scoped>
.show-btns {
  color: rgb(100, 100, 100) !important;
}
</style>
