<template>
  <div id="template-proposal-admin">
    <v-card class="d-flex pa-y" color="transparent" tile flat>
      <v-container>
        <div class="title-left-border py-3 my-3">
          <span class="display-1 ml-5 purple--text">
            템플릿 제안 내역
            <v-btn
              color="blue lighten-2"
              text
              large
              @click="getTmplProposalList"
            >
              <v-icon large>mdi-reload</v-icon>
            </v-btn>
          </span>
        </div>

        <v-card class="pa-5 mt-10">
          <v-card-title class="purple--text title text--secondary">
            템플릿 제안 목록
            <v-spacer></v-spacer>
            <div style="width: 100px;">
              <v-select
                v-model="searchStatus"
                :items="statusTypes"
                item-text="value"
                item-value="cd"
                hide-details
                @change="getTmplProposalList()"
              ></v-select>
            </div>
            <div style="width: 260px;" class="ml-2">
              <v-text-field
                v-model="searchTemplate"
                append-icon="mdi-magnify"
                label="템플릿 제안명 혹은 사용자명"
                hide-details
                clearable
                @keyup.esc="
                  if (searchTemplate != '') {
                    searchTemplate = '';
                    getTmplProposalList();
                  }
                "
                @keyup.enter="getTmplProposalList()"
                @click:append="getTmplProposalList()"
                @click:clear="
                  searchTemplate = '';
                  getTmplProposalList();
                "
              ></v-text-field>
            </div>
          </v-card-title>

          <v-data-table
            :headers="headersTemplate"
            :items="templateProposalList"
            :loading="loadingTemplates"
            :items-per-page="5"
            :options.sync="requestOptions"
            :server-items-length="totalCount"
            :footer-props="{
              'items-per-page-options': [5, 10, 15, 25, 50]
            }"
            disable-sort
            class="elevation-0"
            loading-text="Loading... Please wait"
          >
            <template v-slot:item="{ item }">
              <tr
                :class="
                  editedTemplate.tmplSgstUid === item.tmplSgstUid
                    ? 'grey lighten-2'
                    : ''
                "
                @click="handleClickRow(item)"
              >
                <td align="center">{{ item.tmplSgstUid }}</td>
                <td>{{ item.sgstTmplNm }}</td>
                <td align="center">
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-3"
                        color="indigo"
                        v-on="on"
                        @click="showImagePopup(item)"
                      >
                        mdi-image-search
                      </v-icon>
                    </template>

                    <span>제안이미지 보기</span>
                  </v-tooltip>
                </td>
                <td>{{ item.ariBrnm }}</td>
                <td>{{ item.userNm }}</td>
                <td>{{ item.createdAt | formatDate("YYYY-MM-DD HH:mm") }}</td>

                <td align="center">
                  <v-chip
                    small
                    label
                    text-color="white"
                    :color="getStatusItem(item.sgstStat).color"
                  >
                    <v-avatar left>
                      <v-icon small>
                        {{ getStatusItem(item.sgstStat).mdiName }}
                      </v-icon>
                    </v-avatar>
                    {{ getStatusItem(item.sgstStat).statName }}
                  </v-chip>
                </td>
                <td>{{ item.rjctDesc }}</td>
              </tr>
            </template>
          </v-data-table>
          <div v-if="editedTemplate.tmplSgstUid >= 0">
            <v-list-item v-if="editedTemplate.tmplSgstUid === 0">
              <span class="indigo--text title font-weight-bold">
                <v-icon class="mr-2" color="indigo">mdi-pencil-plus</v-icon
                >신규로 제안할 템플릿 정보를 아래에 입력 하세요.
              </span>
            </v-list-item>
            <v-list-item>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model.trim="editedTemplate.sgstTmplNm"
                    label="제안 템플릿 명"
                    placeholder="사업자 등록증"
                    hint="제안하는 템플릿 명칭 입력 (예) 사업자 등록증, 세금계산서, 영수증 등"
                    :rules="[rules.required]"
                    :readonly="!checkNewItemSelected()"
                    :persistent-hint="checkNewItemSelected()"
                    :disabled="requestLoading"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model.trim="editedTemplate.pupsUse"
                    label="템플릿 용도"
                    placeholder="휴폐업 조회 시 사용"
                    hint="어떤 업무를 수행할 때 사용되는 문서인지 간략히 기술 (예) 휴폐업 조회 시 사용"
                    :rules="[rules.required]"
                    :readonly="!checkNewItemSelected()"
                    :persistent-hint="checkNewItemSelected()"
                    :disabled="requestLoading"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-list-item>
            <v-list-item>
              <v-row>
                <v-col
                  v-if="
                    editedTemplate.tmplSgstUid > 0 && !editedTemplate.fileUpdate
                  "
                >
                  <v-text-field
                    v-model="editedTemplate.imgFileName"
                    label="샘플 이미지"
                    :hint="
                      checkNewItemSelected()
                        ? '이미지 교체가 필요한 경우 우측 파일 교체 아이콘을 클릭후 파일을 재 선택 하세요.'
                        : ''
                    "
                    :append-icon="
                      checkNewItemSelected() ? 'mdi-file-replace' : ''
                    "
                    @click:append="clickAppend()"
                    :loading="requestLoading"
                    :persistent-hint="checkNewItemSelected()"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col
                  v-if="
                    editedTemplate.tmplSgstUid === 0 ||
                      editedTemplate.fileUpdate
                  "
                >
                  <div
                    id="app"
                    v-cloak
                    @drop.prevent="addDropFile"
                    @dragover.prevent
                    class="ma-0 mt-0"
                    style="position: relative; border:1px solid #41B883; border-style:dashed; "
                  >
                    <v-file-input
                      v-model="editedTemplate.imgFileNameObject"
                      :rules="[rules.required, rules.fileSizeCheck]"
                      show-size
                      accept="image/*"
                      clearable
                      label="파일선택 (여기를 클릭하여 파일을 선택 하거나 파일을 Drag & Drop 하세요.)"
                      :disabled="requestLoading"
                      :loading="requestLoading"
                    ></v-file-input>
                  </div>
                </v-col>
              </v-row>
            </v-list-item>
            <v-list-item>
              <v-row v-if="editedTemplate.tmplSgstUid > 0">
                <v-col>
                  <v-select
                    v-model="editedTemplate.sgstStat"
                    :items="statusTypes"
                    item-text="value"
                    item-value="cd"
                    label="처리 상태"
                    readonly
                  ></v-select>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model.trim="editedTemplate.rjctDesc"
                    label="비고(의견)"
                    hint="반려 또는 보류 시 사유 입력"
                    persistent-hint
                    :readonly="
                      editedTemplate.sgstStat === '03' ||
                      editedTemplate.sgstStat === '04'
                        ? true
                        : false
                    "
                    :disabled="requestLoading"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-list-item>
          </div>
          <v-card-actions v-if="editedTemplate.tmplSgstUid >= 0">
            <v-spacer />
            <v-btn
              v-if="
                (editedTemplate.sgstStat === '01' ||
                  editedTemplate.sgstStat === '05') &&
                  editedTemplate.tmplSgstUid > 0 &&
                  !requestLoading
              "
              class="ma-2"
              outlined
              color="indigo"
              @click="udpateTemplateProposalStatus('02')"
            >
              접수
            </v-btn>
            <v-btn
              v-if="editedTemplate.sgstStat === '02' && !requestLoading"
              class="ma-2"
              outlined
              color="success"
              @click="udpateTemplateProposalStatus('03')"
            >
              채택
            </v-btn>
            <v-btn
              v-if="editedTemplate.sgstStat === '02' && !requestLoading"
              class="ma-2"
              outlined
              color="orange"
              @click="udpateTemplateProposalStatus('04')"
            >
              반려
            </v-btn>
            <v-btn
              v-if="editedTemplate.sgstStat === '02' && !requestLoading"
              class="ma-2"
              outlined
              color="red"
              @click="udpateTemplateProposalStatus('05')"
            >
              보류
            </v-btn>
            <v-btn
              :disabled="!checkNewItemSelected() || requestLoading"
              class="mr-2 ml-5 elevation-5 white--text"
              color="success"
              @click="handleClickSave"
            >
              저장
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-container>
    </v-card>
    <!-- Image 보기 다이얼로그 -->
    <ImageViewPop ref="imgPopup"></ImageViewPop>
  </div>
</template>

<script>
import ImageViewPop from "@/views/ocr/ImageViewPop.vue";
const uploadFileMaxSize = 2 * 1024 * 1024; // 10M Bytes

import { mapGetters } from "vuex";

export default {
  name: "TemplateProposal",
  components: {
    ImageViewPop
  },
  data: () => ({
    rules: {
      required: v => !!v || "필수 항목입니다.",
      fileSizeCheck: value =>
        // eslint-disable-next-line prettier/prettier
        !value || value.size < uploadFileMaxSize || "File size should be less than 3 MB!"
    },
    requestLoading: false,
    statusTypes: [
      { cd: "00", value: "전체" },
      { cd: "01", value: "신규" },
      { cd: "02", value: "접수" },
      { cd: "03", value: "채택" },
      { cd: "04", value: "반려" },
      { cd: "05", value: "보류" }
    ],
    loadingTemplates: false,
    templateProposalList: [],
    requestOptions: {},
    totalCount: 0,
    headersTemplate: [
      { text: "제안번호", value: "tmplSgstUid", align: "center" },
      { text: "제안 템플릿 명", value: "sgstTmplNm" },
      {
        text: "제안 샘플 이미지",
        value: "sampleImage",
        align: "center",
        sortable: false
      },
      { text: "부서명", value: "ariBrnm" },
      { text: "이름", value: "userNm" },
      { text: "등록일자", value: "createdAt" },
      { text: "처리상태", value: "sgstStat", align: "center" },
      { text: "비고", value: "rjctDesc", sortable: false }
    ],
    searchTemplate: "",
    searchStatus: "00",
    editedTemplate: {}
  }),
  computed: {
    ...mapGetters(["getUserInfo", "authorized"])
  },
  watch: {
    requestOptions: {
      handler() {
        // console.log("aaaaaaa", this.requestOptions);
        this.initiateEditedTemplate(-1);
        this.getTmplProposalList();
      },
      deep: true
    }
  },
  mounted() {
    // watch handler 에서 호출
    // this.getTmplProposalList();
  },
  methods: {
    validRequiredFieldsProposalRequest() {
      // eslint-disable-next-line prettier/prettier
      // console.log("validate check");
      // console.log(this.editedTemplate);

      // eslint-disable-next-line prettier/prettier
      const { tmplSgstUid, sgstTmplNm, pupsUse, sgstStat, imgFileNameObject, fileUpdate } = this.editedTemplate;

      if (!sgstTmplNm || !pupsUse) return false;
      if (sgstStat !== "01") return false;

      if (tmplSgstUid === 0 || fileUpdate) {
        if (!imgFileNameObject) return false;
        else if (imgFileNameObject.size > uploadFileMaxSize) return false;
      }
      if (tmplSgstUid > 0) {
        var oldItem = this.templateProposalList.filter(
          f => f.tmplSgstUid === tmplSgstUid
        );
        // console.log(oldItem);

        if (!oldItem || oldItem.length <= 0) return false;

        if (
          oldItem[0].sgstTmplNm === sgstTmplNm &&
          oldItem[0].pupsUse === pupsUse &&
          !fileUpdate
        ) {
          return false;
        }
      }

      return true;
    },
    getStatusItem(code) {
      if (!code) return null;

      let returnItem = {};

      switch (code) {
        case "05":
          returnItem.color = "teal lighten-2";
          returnItem.mdiName = "mdi-car-brake-hold";
          returnItem.statName = "보류";
          break;
        case "04":
          returnItem.color = "red lighten-1";
          returnItem.mdiName = "mdi-redo-variant";
          returnItem.statName = "반려";
          break;
        case "03":
          returnItem.color = "green";
          returnItem.mdiName = "mdi-progress-check";
          returnItem.statName = "채택";
          break;
        case "02":
          returnItem.color = "orange";
          returnItem.mdiName = "mdi-progress-wrench";
          returnItem.statName = "접수";
          break;
        case "01":
          returnItem.color = "blue";
          returnItem.mdiName = "mdi-progress-close";
          returnItem.statName = "신규";
          break;
        default:
          returnItem.color = "grey";
          returnItem.mdiName = "mdi-help-circle";
          returnItem.statName = "기타";
          break;
      }

      return returnItem;
    },
    handleClickSave() {
      if (!this.validRequiredFieldsProposalRequest()) {
        this.$swal({
          text:
            this.editedTemplate.tmplSgstUid == 0
              ? "유효하지 않은 항목이 있습니다."
              : "유효하지 않은 항목이 있거나 변경사항이 없습니다.",
          focusConfirm: true,
          confirmButtonText: "확인"
        });
        return;
      }

      let formData = new FormData();
      // eslint-disable-next-line prettier/prettier
      if (this.editedTemplate.tmplSgstUid == 0 || this.editedTemplate.fileUpdate) {
        formData.append("uploadFile", this.editedTemplate.imgFileNameObject);
        // eslint-disable-next-line prettier/prettier
        formData.append("imgFileName", this.editedTemplate.imgFileNameObject.name);
        // eslint-disable-next-line prettier/prettier
        formData.append("imgFileType", this.editedTemplate.imgFileNameObject.type);
      }
      formData.append("tmplSgstUid", this.editedTemplate.tmplSgstUid);
      formData.append("sgstTmplNm", this.editedTemplate.sgstTmplNm);
      formData.append("pupsUse", this.editedTemplate.pupsUse);
      formData.append("imgPageCnt", 1);

      this.requestLoading = true;
      return this.$http
        .updateTemplateProposal(formData)
        .then(() => {
          // this.$toast.open({
          //   message: "요청이 정상적으로 처리 되었습니다.",
          //   type: "success"
          // });
          this.requestLoading = false;
          this.getTmplProposalList(this.editedTemplate.tmplSgstUid);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.requestLoading = false;
        });
    },
    udpateTemplateProposalStatus(newStatus) {
      var editedTemplateCopy = Object.assign({}, this.editedTemplate);
      var inObj = {
        tmplSgstUid: editedTemplateCopy.tmplSgstUid,
        sgstStat: newStatus,
        rjctDesc: editedTemplateCopy.rjctDesc
      };

      if (newStatus === "04" || newStatus === "05") {
        if (!inObj.rjctDesc) {
          this.$swal({
            text: "비고(의견)을 입력 하세요.",
            focusConfirm: true,
            confirmButtonText: "확인"
          });
          return;
        }
      } else {
        inObj.rjctDesc = "";
      }

      this.requestLoading = true;

      return this.$http
        .updateTemplateProposalStatus(inObj)
        .then(() => {
          // this.$toast.open({
          //   message: "요청이 정상적으로 처리 되었습니다.",
          //   type: "success"
          // });
          this.requestLoading = false;
          this.getTmplProposalList(this.editedTemplate.tmplSgstUid);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.requestLoading = false;
        });
    },
    handleClickRow(item, forceInd) {
      if (!forceInd) {
        if (this.requestLoading || this.loadingTemplates) return;
        if (
          this.editedTemplate &&
          this.editedTemplate.tmplSgstUid == item.tmplSgstUid
        )
          return;
      }

      this.editedTemplate = JSON.parse(JSON.stringify(item));
      this.editedTemplate.imgFileNameObject = null;
      this.editedTemplate.fileUpdate = false;
    },
    initiateEditedTemplate(tmplSgstUid) {
      if (this.requestLoading || this.loadingTemplates) return;
      this.editedTemplate = {
        tmplSgstUid: tmplSgstUid,
        sgstStat: "01",
        sgstTmplNm: "",
        pupsUse: "",
        imgFileName: "",
        imgFileNameObject: null,
        fileUpdate: false
      };
    },
    getTmplProposalList(tmplSgstUid) {
      this.loadingTemplates = true;

      const { page, itemsPerPage } = this.requestOptions;
      var requestParam = {
        pagination: {
          page: page ? page : 1,
          itemsPerPage: itemsPerPage ? itemsPerPage : 10
        }
      };
      requestParam.search = {};
      if (this.searchTemplate) {
        requestParam.search.searchText = this.searchTemplate;
      }
      if (this.searchStatus && this.searchStatus !== "00") {
        requestParam.search.searchStatus = this.searchStatus;
      }

      return this.$http
        .getTmplProposalListAdmin(requestParam)
        .then(res => {
          // console.log("OCR Request list 수신 완료");
          // console.log("res", res);
          this.loadingTemplates = false;
          this.totalCount = res.data.data.total;
          this.templateProposalList = res.data.data;

          if (tmplSgstUid && tmplSgstUid > 0) {
            this.templateProposalList.map(m => {
              if (m.tmplSgstUid === tmplSgstUid) {
                this.handleClickRow(m, true);
                return;
              }
            });
          } else {
            this.initiateEditedTemplate(-1);
          }
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.loadingTemplates = false;
        });
    },
    checkNewItemSelected() {
      if (this.editedTemplate.tmplSgstUid === 0) {
        return true;
      }
      if (
        this.editedTemplate.tmplSgstUid > 0 &&
        this.editedTemplate.sgstStat === "01"
      ) {
        return true;
      }
      return false;
    },
    showImagePopup(item) {
      this.loadingTemplates = true;

      return this.$http
        .getTmplProposalDetail({
          tmplSgstUid: item.tmplSgstUid
        })
        .then(res => {
          var imgObj = {
            imgFileType: res.data.data.imgFileType,
            imgOrgData: res.data.data.imgOrgData
          };

          this.$refs.imgPopup.showImagePopup(imgObj);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.loadingTemplates = false;
        });
    },
    addDropFile(e) {
      //console.log("addDropEvent", JSON.stringify(e, null, 4));
      if (this.requestLoading || this.loadingTemplates) return;
      if (e.dataTransfer.files.length > 0) {
        var uploadFile = e.dataTransfer.files[0];

        if (/^image\//.test(uploadFile.type)) {
          this.editedTemplate.imgFileNameObject = e.dataTransfer.files[0];
          this.screenUpdateForce();
        }
      }
    },
    clickAppend() {
      if (this.editedTemplate.sgstStat !== "01") return;
      this.editedTemplate.fileUpdate = true;
      this.screenUpdateForce();
    },
    screenUpdateForce() {
      this.$forceUpdate();
    }
  }
};
</script>
