<template>
  <div id="template-proposal">
    <v-card class="d-flex pa-y" color="transparent" tile flat>
      <v-container>
        <div class="title-left-border py-3 my-3">
          <span class="display-1 ml-5 indigo--text">
            템플릿 관리
            <v-btn
              color="blue lighten-2"
              text
              large
              @click="getOcrTemplateList"
            >
              <v-icon large>mdi-reload</v-icon>
            </v-btn>
          </span>
        </div>

        <p class="title ml-4 text--secondary">
          템플릿 목록에 대한 반영, 회수 등 전반적인 관리 화면을 제공합니다.
        </p>

        <v-card class="pa-5 mt-10">
          <v-card-title class="title text--secondary">
            템플릿 목록
            <v-spacer></v-spacer>
            <div style="width: 400px;">
              <v-text-field
                v-model="searchTemplate"
                prepend-icon="mdi-magnify"
                label="템플릿 명 또는 이름"
                single-line
                hide-details
                clearable
                @keyup.esc="searchTemplate = ''"
              ></v-text-field>
            </div>
            <v-btn
              color="indigo lighten-2"
              class="elevation-5 white--text ml-4 subtitle-1 font-weight-bold"
              @click="initiateEditedTemplate(0)"
            >
              <v-icon class="mr-2">mdi-plus</v-icon>
              신규 등록
            </v-btn>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="templateList"
            :loading="loadingTemplates"
            :search="searchTemplate"
            :items-per-page="5"
            class="elevation-0"
            loading-text="Loading... Please wait"
            @update:sort-by="initiateEditedTemplate(-1)"
            @update:sort-desc="initiateEditedTemplate(-1)"
            @update:page="initiateEditedTemplate(-1)"
            @update:items-per-page="initiateEditedTemplate(-1)"
          >
            <template v-slot:item="{ item }">
              <tr
                :class="
                  editedTemplate.tmplUid === item.tmplUid
                    ? 'grey lighten-2'
                    : ''
                "
                @click="handleClickRow(item)"
              >
                <td align="center">{{ item.tmplUid }}</td>
                <td>{{ item.tmplNm }}</td>
                <td align="center">{{ item.tmplOcrItemCnt }}</td>
                <td>{{ item.ocrApiUrl }}</td>
                <td>
                  {{ item.tmplEfctDtm | formatDate("YYYY-MM-DD HH:mm") }}
                </td>
                <td>
                  {{ item.tmplExprDtm | formatDate("YYYY-MM-DD HH:mm") }}
                </td>
                <td align="center">
                  <v-chip
                    small
                    label
                    text-color="white"
                    :color="getStatusItem(item.tmplStat).color"
                  >
                    <v-avatar left>
                      <v-icon small>
                        {{ getStatusItem(item.tmplStat).mdiName }}
                      </v-icon>
                    </v-avatar>
                    {{ getStatusItem(item.tmplStat).statName }}
                  </v-chip>
                </td>
              </tr>
            </template>
          </v-data-table>
          <v-form ref="form" v-model="form">
            <div v-if="editedTemplate.tmplUid >= 0">
              <v-list-item v-if="editedTemplate.tmplUid === 0">
                <span class="indigo--text title font-weight-bold">
                  <v-icon class="mr-2" color="indigo">mdi-pencil-plus</v-icon
                  >신규로 등록할 템플릿 정보를 아래에 입력 하세요.
                </span>
              </v-list-item>
              <v-list-item>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model.trim="editedTemplate.tmplNm"
                      label="템플릿 양식명"
                      hint="템플릿명을 입력 하세요."
                      :persistent-hint="editedTemplate.tmplUid === 0"
                      :rules="[rules.required]"
                      :readonly="!checkNewItemSelected()"
                      :disabled="requestLoading"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model.trim="editedTemplate.ocrApiUrl"
                      label="API URL"
                      hint="템플릿 OCR 처리를 수행할 엔진의 API URI 를 입력합니다."
                      :persistent-hint="editedTemplate.tmplUid === 0"
                      :rules="[rules.required]"
                      :readonly="!checkNewItemSelected()"
                      :disabled="requestLoading"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-list-item>
              <v-list-item>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model.trim="editedTemplate.tmplDesc"
                      label="템플릿 설명"
                      hint="템블릿 정보 보기시 사용자에게 보여지는 정보"
                      :persistent-hint="editedTemplate.tmplUid === 0"
                      :rules="[rules.required]"
                      :readonly="!checkNewItemSelected()"
                      :disabled="requestLoading"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-list-item>
              <v-list-item>
                <v-row>
                  <v-col class="ma-5" justify="center" align="center">
                    <div class="title grey--text mb-5 text-center">
                      템 플 릿
                      <v-btn icon @click="showImagePopup()">
                        <v-icon>
                          mdi-magnify-plus
                        </v-icon>
                      </v-btn>
                    </div>
                    <!-- <v-hover v-slot:default="{ hover }"> -->
                    <!-- <v-sheet color="grey lighten-2"> -->
                    <v-img
                      v-if="editedTemplate.imgSrc"
                      :src="editedTemplate.imgSrc"
                      class="grey lighten-5"
                      contain
                      aspect-ratio="1.7"
                      @click="showImagePopup()"
                    >
                    </v-img>
                    <!-- </v-sheet> -->
                    <!-- </v-hover> -->

                    <div
                      id="app"
                      v-cloak
                      @drop.prevent="addDropFile"
                      @dragover.prevent
                      class="ma-0 mt-2"
                      style="position: relative; border:1px solid #41B883; border-style:dashed; "
                      v-if="checkNewItemSelected()"
                    >
                      <v-file-input
                        v-model="editedTemplate.imgFileNameObject"
                        :rules="
                          editedTemplate.tmplUid === 0
                            ? [rules.required, rules.fileSizeCheck]
                            : [rules.fileSizeCheck]
                        "
                        show-size
                        accept="image/*"
                        clearable
                        label="템플릿 이미지 선택"
                        hint="클릭하여 파일을 선택 하거나 파일을 Drag & Drop 하세요."
                        persistent-hint
                        @change="onFileChange"
                        :disabled="requestLoading"
                        :loading="requestLoading"
                      ></v-file-input>
                    </div>
                  </v-col>
                  <v-divider vertical class="ma-4" />
                  <v-col class="ma-5">
                    <div class="title grey--text mb-5 text-center">
                      판 독 항 목
                      <v-btn
                        v-if="checkNewItemSelected()"
                        color="indigo lighten-2"
                        class="elevation-5 white--text ml-4 font-weight-regular"
                        x-samll
                        @click="addDeleteOcrItem(-1)"
                      >
                        <v-icon class="mr-2" x-small>mdi-plus</v-icon>
                        항목추가
                      </v-btn>
                    </div>
                    <v-simple-table>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th
                              class="text-center font-weight-bold"
                              width="50px"
                            >
                              No.
                            </th>
                            <th class="text-center font-weight-bold">
                              판독항목
                            </th>
                            <th class="text-center font-weight-bold">
                              API 항목명(Main)
                            </th>
                            <th class="text-center font-weight-bold">
                              API 항목명(Sub)
                            </th>
                            <th
                              class="text-center font-weight-bold"
                              v-if="checkNewItemSelected()"
                            >
                              삭제
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            v-for="(d, index) in editedTemplate.tmplOcrItem"
                            :key="d.itemNo"
                          >
                            <td class="text-center text--secondary">
                              {{ d.itemNo }}
                            </td>
                            <td class="text-center text--secondary">
                              <v-text-field
                                v-model.trim="d.itemName"
                                single-line
                                hide-details
                                :placeholder="
                                  checkNewItemSelected()
                                    ? '항목명을 입력 하세요.'
                                    : ''
                                "
                                solo
                                flat
                                dense
                                :readonly="!checkNewItemSelected()"
                                :rules="[rules.required]"
                              ></v-text-field>
                            </td>
                            <td class="text-center text--secondary">
                              <v-text-field
                                v-model.trim="d.itemApiName1"
                                single-line
                                hide-details
                                :placeholder="
                                  checkNewItemSelected()
                                    ? '항목명을 입력 하세요.'
                                    : ''
                                "
                                solo
                                flat
                                dense
                                :readonly="!checkNewItemSelected()"
                                :rules="[rules.required]"
                              ></v-text-field>
                            </td>
                            <td class="text-center text--secondary">
                              <v-text-field
                                v-model.trim="d.itemApiName2"
                                single-line
                                hide-details
                                :placeholder="
                                  checkNewItemSelected()
                                    ? '항목명을 입력 하세요.'
                                    : ''
                                "
                                solo
                                flat
                                dense
                                :readonly="!checkNewItemSelected()"
                              ></v-text-field>
                            </td>
                            <td
                              class="text-center text--secondary"
                              v-if="checkNewItemSelected()"
                            >
                              <v-btn icon @click="addDeleteOcrItem(index)">
                                <v-icon>mdi-delete</v-icon>
                              </v-btn>
                            </td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </v-col>
                </v-row>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  v-if="
                    editedTemplate.tmplUid > 0 &&
                      (editedTemplate.tmplStat === '01' ||
                        editedTemplate.tmplStat === '03') &&
                      !requestLoading
                  "
                  class="ma-2"
                  outlined
                  color="red"
                  @click="udpateTemplateStatus('04')"
                >
                  폐기
                </v-btn>
                <v-spacer />
                <v-btn
                  v-if="
                    editedTemplate.tmplUid > 0 &&
                      (editedTemplate.tmplStat === '01' ||
                        editedTemplate.tmplStat === '03' ||
                        editedTemplate.tmplStat === '04') &&
                      !requestLoading
                  "
                  class="ma-2"
                  outlined
                  color="blue"
                  @click="udpateTemplateStatus('02')"
                >
                  사용
                </v-btn>
                <v-btn
                  v-if="
                    !checkNewItemSelected() &&
                      editedTemplate.tmplStat === '02' &&
                      !requestLoading
                  "
                  class="ma-2"
                  outlined
                  color="orange"
                  @click="udpateTemplateStatus('03')"
                >
                  회수
                </v-btn>

                <v-btn
                  :disabled="!checkNewItemSelected() || requestLoading"
                  class="mr-2 ml-5 elevation-5 white--text"
                  color="success"
                  @click="handleClickSave"
                >
                  {{
                    editedTemplate.tmplUid === 0 ? "템플릿 등록" : "템플릿 변경"
                  }}
                </v-btn>
              </v-card-actions>
            </div>
          </v-form>
        </v-card>
      </v-container>
    </v-card>
    <!-- Image 보기 다이얼로그 -->
    <ImageViewPop ref="imgPopup"></ImageViewPop>
  </div>
</template>

<script>
import ImageViewPop from "@/views/ocr/ImageViewPop.vue";
const uploadFileMaxSize = 3 * 1024 * 1024; // 10M Bytes

import { mapGetters } from "vuex";

export default {
  name: "TemplateManagement",
  components: {
    ImageViewPop
  },
  data: () => ({
    form: false,
    rules: {
      required: v => !!v || "필수 항목입니다.",
      fileSizeCheck: value =>
        // eslint-disable-next-line prettier/prettier
        !value || value.size < uploadFileMaxSize || "File size should be less than 3 MB!"
    },
    noDataText: "해당 조건에 해당하는 데이터가 없습니다.",
    statusTypes: ["접수", "채택", "반려", "보류"],
    requestLoading: false,
    loadingTemplates: false,
    templateList: [],
    // TODO: template dataset format
    headers: [
      { text: "ID", value: "tmplUid", align: "center", sortable: false },
      { text: "양식명", value: "tmplNm" },
      { text: "OCR 항목수", value: "tmplOcrItemCnt", align: "center" },
      { text: "엔진API URI", value: "ocrApiUrl" },
      { text: "시작일자", value: "tmplEfctDtm" },
      { text: "종료일자", value: "tmplExprDtm" },
      {
        text: "템플릿상태",
        value: "tmplStat",
        align: "center",
        sortable: false
      }
      // { text: "Actions", value: "actions", align: "center", sortable: false }
    ],
    searchTemplate: "",
    editedTemplate: {}
  }),
  computed: {
    ...mapGetters(["getUserInfo", "authorized"])
  },
  mounted() {
    this.getOcrTemplateList();
  },
  methods: {
    getOcrTemplateList(tmplUid) {
      this.loadingTemplates = true;
      return this.$http
        .getOcrTemplateList()
        .then(res => {
          this.loadingTemplates = false;
          this.templateList = res.data.data;

          if (tmplUid && tmplUid > 0) {
            this.templateList.map(m => {
              if (m.tmplUid === tmplUid) {
                this.handleClickRow(m, true);
                return;
              }
            });
          } else {
            this.initiateEditedTemplate(-1);
          }
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.loadingTemplates = false;
        });
    },
    showImagePopup() {
      if (!this.editedTemplate.imgSrc) return;
      var imgObj = {
        imgUrl: this.editedTemplate.imgSrc
      };

      this.$refs.imgPopup.showImagePopup(imgObj);
    },
    addDeleteOcrItem(index) {
      var tmplOcrItem = this.editedTemplate.tmplOcrItem;

      if (index < 0) {
        // add item
        tmplOcrItem.push({
          itemNo: tmplOcrItem.length + 1,
          itemName: "",
          itemNApiame1: "",
          itemApiName2: ""
        });
      } else {
        // del item
        this.$delete(tmplOcrItem, index);
        tmplOcrItem.map(function(v, k) {
          v.itemNo = Number(k) + 1;
        });
      }
      tmplOcrItem.tmplOcrItemCnt = tmplOcrItem.length;
    },
    handleClickRow(item, forceInd) {
      if (!forceInd) {
        if (this.requestLoading || this.loadingTemplates) return;
        if (this.editedTemplate && this.editedTemplate.tmplUid == item.tmplUid)
          return;
      }
      this.editedTemplate = Object.assign({}, item);
      //this.editedTemplate.tmplOcrItem = Object.assign({}, item.tmplOcrItem);
      var tmplOcrItemObj = Object.assign({}, item.tmplOcrItem);

      this.editedTemplate.tmplOcrItem = [];

      // eslint-disable-next-line no-unused-vars
      Object.entries(tmplOcrItemObj).forEach(([key, data]) => {
        this.editedTemplate.tmplOcrItem.push(Object.assign({}, data));
      });

      this.editedTemplate.imgFileNameObject = null;
      this.editedTemplate.fileUpdate = false;
      this.editedTemplate.imgSrc = null;
      this.getOcrTemplateDetail(item);
    },
    getOcrTemplateDetail(item) {
      this.loadingTemplates = true;

      return this.$http
        .getOcrTemplateDetail({ tmplUid: item.tmplUid })
        .then(res => {
          this.loadingTemplates = false;

          this.editedTemplate.imgFileType = res.data.data.imgFileType;
          this.editedTemplate.imgOrgData = res.data.data.imgOrgData;
          this.editedTemplate.imgSrc =
            "data:" +
            this.editedTemplate.imgFileType +
            ";base64," +
            this.editedTemplate.imgOrgData;
          this.$forceUpdate();
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.loadingTemplates = false;
        });
    },
    initiateEditedTemplate(tmplUid) {
      if (this.requestLoading || this.loadingTemplates) return;
      this.editedTemplate = {
        tmplUid: tmplUid,
        tmplStat: "01",
        tmplNm: "",
        tmplDesc: "",
        imgFileName: "",
        imgFileType: "",
        imgOrgData: "",
        tmplOcrItem: [
          {
            itemNo: 1,
            itemName: "",
            itemApiName1: "",
            itemApiName2: ""
          },
          { itemNo: 2, itemName: "" },
          { itemNo: 3, itemName: "" },
          { itemNo: 4, itemName: "" }
        ],
        tmplOcrItemCnt: 4,
        tmplEfctDtm: null,
        tmplExprDtm: null,
        ocrApiUrl: null,
        imgFileNameObject: null,
        fileUpdate: false,
        imgSrc: null
      };
      this.$refs.form.reset();
    },
    getStatusItem(code) {
      if (!code) return null;

      let returnItem = {};

      switch (code) {
        case "04":
          returnItem.color = "red lighten-1";
          returnItem.mdiName = "mdi-delete-forever-outline";
          returnItem.statName = "폐기";
          break;
        case "03":
          returnItem.color = "teal lighten-2";
          returnItem.mdiName = "mdi-car-brake-hold";
          returnItem.statName = "회수";
          break;
        case "02":
          returnItem.color = "green";
          returnItem.mdiName = "mdi-progress-check";
          returnItem.statName = "사용";
          break;

        case "01":
          returnItem.color = "blue";
          returnItem.mdiName = "mdi-progress-close";
          returnItem.statName = "등록";
          break;
        default:
          returnItem.color = "grey";
          returnItem.mdiName = "mdi-help-circle";
          returnItem.statName = "기타";
          break;
      }

      return returnItem;
    },
    validRequiredFieldsTemplateRequest() {
      // eslint-disable-next-line prettier/prettier
      const { tmplUid, tmplNm, tmplDesc, tmplStat, tmplOcrItem, ocrApiUrl, imgFileNameObject, fileUpdate } = this.editedTemplate;
      // eslint-disable-next-line prettier/prettier
      if (!tmplNm || !tmplDesc || !tmplOcrItem || tmplOcrItem.length <= 0 || !ocrApiUrl) return false;
      if (tmplStat !== "01" && tmplStat !== "03") return false;

      if (tmplUid === 0 || fileUpdate) {
        if (!imgFileNameObject) return false;
        else if (imgFileNameObject.size > uploadFileMaxSize) return false;
      }

      for (var idx = 0; idx < tmplOcrItem.length; idx += 1) {
        if (!tmplOcrItem[idx].itemName || !tmplOcrItem[idx].itemApiName1) {
          return false;
        }
      }

      if (tmplUid > 0) {
        var oldItem = this.templateList.filter(f => f.tmplUid === tmplUid);
        if (!oldItem || oldItem.length <= 0) return false;
        var checkTmplOcrItem = [];

        // eslint-disable-next-line no-unused-vars
        Object.entries(oldItem[0].tmplOcrItem).forEach(([key, data]) => {
          checkTmplOcrItem.push(data);
        });

        if (
          oldItem[0].tmplNm === tmplNm &&
          oldItem[0].tmplDesc === tmplDesc &&
          JSON.stringify(checkTmplOcrItem) === JSON.stringify(tmplOcrItem) &&
          !fileUpdate
        ) {
          return false;
        }
      }

      return true;
    },
    checkNewItemSelected() {
      if (this.editedTemplate.tmplUid === 0) {
        return true;
      }
      if (
        this.editedTemplate.tmplUid > 0 &&
        (this.editedTemplate.tmplStat === "01" ||
          this.editedTemplate.tmplStat === "03")
      ) {
        return true;
      }
      return false;
    },
    handleClickSave() {
      if (!this.validRequiredFieldsTemplateRequest()) {
        this.$swal({
          text:
            this.editedTemplate.tmplUid == 0
              ? "유효하지 않은 항목이 있습니다."
              : "유효하지 않은 항목이 있거나 변경사항이 없습니다.",
          focusConfirm: true,
          confirmButtonText: "확인"
        });
        return;
      }

      let formData = new FormData();
      // eslint-disable-next-line prettier/prettier
      if (this.editedTemplate.tmplUid == 0 || this.editedTemplate.fileUpdate) {
        formData.append("uploadFile", this.editedTemplate.imgFileNameObject);
        // eslint-disable-next-line prettier/prettier
        formData.append("imgFileType", this.editedTemplate.imgFileNameObject.type);
      }
      formData.append("tmplUid", this.editedTemplate.tmplUid);
      formData.append("tmplId", "XX");
      formData.append("tmplNm", this.editedTemplate.tmplNm);
      formData.append("tmplDesc", this.editedTemplate.tmplDesc);
      // eslint-disable-next-line prettier/prettier
      formData.append("tmplOcrItem", JSON.stringify(this.editedTemplate.tmplOcrItem));
      formData.append("tmplOcrItemCnt", this.editedTemplate.tmplOcrItemCnt);
      formData.append("ocrApiUrl", this.editedTemplate.ocrApiUrl);

      var callApi =
        this.editedTemplate.tmplUid == 0
          ? this.$http.createOcrTemplate
          : this.$http.updateOcrTemplate;

      this.requestLoading = true;
      return callApi(formData)
        .then(() => {
          // console.log("OCR Request list 수신 완료");
          // console.log("정상응답");

          // this.$toast.open({
          //   message: "요청이 정상적으로 처리 되었습니다.",
          //   type: "success"
          // });
          this.requestLoading = false;
          this.getOcrTemplateList(this.editedTemplate.tmplUid);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.requestLoading = false;
        });
    },
    udpateTemplateStatus(newStatus) {
      var inObj = {
        tmplUid: this.editedTemplate.tmplUid,
        tmplStat: newStatus
      };
      this.requestLoading = true;

      return this.$http
        .updateOcrTemplateStatus(inObj)
        .then(() => {
          // this.$toast.open({
          //   message: "요청이 정상적으로 처리 되었습니다.",
          //   type: "success"
          // });
          this.requestLoading = false;
          this.getOcrTemplateList(this.editedTemplate.tmplUid);
        })
        .catch(err => {
          //this.$toast.open({ message: err, type: "error" });
        })
        .finally(() => {
          this.requestLoading = false;
        });
    },

    addDropFile(e) {
      // console.log("addDropEvent", JSON.stringify(e, null, 4));
      // console.log(e);
      if (this.requestLoading || this.loadingTemplates) return;
      if (e.dataTransfer.files.length > 0) {
        var uploadFile = e.dataTransfer.files[0];

        if (/^image\//.test(uploadFile.type)) {
          this.editedTemplate.imgFileNameObject = e.dataTransfer.files[0];
          this.onFileChange();
        }
      }
    },
    onFileChange() {
      // console.log("onFileChange in...........");
      const file = this.editedTemplate.imgFileNameObject;
      if (file && file.name) {
        this.editedTemplate.imgSrc = URL.createObjectURL(file);
        this.editedTemplate.fileUpdate = true;
      } else {
        if (this.editedTemplate.tmplUid > 0) {
          this.editedTemplate.imgSrc =
            "data:" +
            this.editedTemplate.imgFileType +
            ";base64," +
            this.editedTemplate.imgOrgData;
        } else {
          this.editedTemplate.imgSrc = "";
        }
        this.editedTemplate.fileUpdate = false;
      }
      this.$forceUpdate();
    }
  }
};
</script>

<style scoped>
.show-btns {
  color: rgb(100, 100, 100) !important;
}
</style>
