<template>
    <div>
        <div>{{ getUserInfo.userId }}</div>
        <iframe :src="iframe.src" v-if="loaded" frameborder="0" width="100%" height="896px" scrolling="no" marginwidth="0" marginheight="0"/>
    </div>
</template>

<script>
import { mapGetters } from "vuex";



export default {
    name: "NlpPage",
    data() {
        let userId = this.$store.getters.getUserInfo.userId;
        if(userId === undefined || userId == ''){
            userId = '';
        }
        return {
            loaded: false,
            iframe: {
                src: 'http://targetair.iptime.org:8887/nlp/cbt?userId=' + userId
            }
        }
    },
    computed: {
        ...mapGetters(["getUserInfo", "authorized"])
    },
    mounted() {
        console.log(this.getUserInfo.userId);
        this.loaded = true;
    }
};
</script>
